<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta th:include="common/header :: header('建发房产钻石会')"></meta>

    <link rel="stylesheet" href="/default/Index/css/public.css" th:href="@{/default/Index/css/public.css}">
 <!--   <script src="/default/Index/js/jquery.js"></script>-->
    <script src="/common/layer/layer.js" th:src="@{/common/layer/layer.js}"></script>
    <link rel="stylesheet" href="/default/Index/css/chooseCity.css" th:href="@{/default/Index/css/chooseCity.css}">
</head>
<body>
<div class="top_input_section">
    <form action="" method="post">
        <div class="input_box">
            <div class="img_box">
                <img src="/default/Index/img/vip/s.png" th:src="@{/default/Index/img/vip/s.png}">
            </div>
            <input id="search_city" type="search" placeholder="搜索城市" name="search">
        </div>
    </form>
</div>
<div class="local_city">
    <div class="title">GPS 定位</div>
    <div class="city_line">
        <span id="local_city"></span>
        <img src="/default/Index/img/vip/shuaxin1.png">
    </div>
</div>
<div class="city_list" id="city_list"></div>
<div class="letter_navigation" id="letter_navigation"></div>
<!--弹框提示-->
<div id="tips_pop_container">
    <span></span>
</div>
<!--加载动画-->
<div th:replace="common/common :: loading"></div>
</body>
<script>
    var all_city=[];

</script>
<script src="/default/Index/js/chooseCity.js" th:src="@{/default/Index/js/chooseCity.js?dt=121321313}"></script>
</html>