<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<link>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-touch-fullscreen" content="yes">
    <meta name="full-screen" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no">
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />

    <title>信息提示</title>
    <script type="text/javascript" src="/common/js/jquery.js" th:src="@{/common/js/jquery.js}" ></script>
    <script type="text/javascript" src="/common/js/public.js" th:src="@{/common/js/public.js}"></script>
    <script type="text/javascript" src="/common/js/common.js" th:src="@{/common/js/common.js}"></script>
    <link rel="stylesheet" type="text/css" href="/common/css/msg.css" th:href="@{/common/css/msg.css}"></link>
</head>
<body>

<!--提示遮罩2-->
<div id="submit_mask2" style="display: block">
    <div class="pop_container2">
        <div class="title_line2">温馨提示</div>
        <div class="tips_container2">
            <p style="text-align:center;" >对不起，系统开了小差，请稍候再试</p>

        </div>
        <div class="submit_btn2" id="btn_back" >确定</div>
    </div>
</div>


</body>
<script th:inline="javascript">
    $("#btn_back").click(function(){
        history.go(-1);
    });
</script>
</body>
</html>
