<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:fragment="footer(activeId)">

<div class="footer_navigator" >
    <a href="/index">
        <img th:src="@{ (${activeId == 'home' ? '/default/navigatorBar/new_1.png' : '/default/navigatorBar/new_2.png'}) }"  class="small_img" id="home">
        <!--<div class="home">钻石会</div>-->
    </a>
    <a href="/mall/index">
        <img th:src="@{ (${activeId == 'integral' ? '/default/navigatorBar/new_3.png':'/default/navigatorBar/new_4.png'})}"  class="small_img" id="integral">
         <!--<div class="integral">积分商城</div>-->
    </a>
	<span  class="sign_in_box">
           <img th:src="@{(${activeId == 'sign_in' ? '/default/navigatorBar/5.png':'/default/navigatorBar/5.png' })}"  class="sign_in_img" id="sign_in">
	</span>
    <a href="/business/union/index">
        <img th:src="@{ (${activeId == 'union_shops' ? '/default/navigatorBar/new_7.png':'/default/navigatorBar/new_8.png' })}"  class="small_img" id="union_shops">
        <!--<div class="union_shops">联盟商家</div>-->
    </a>
    <a href="/member/index">
        <img th:src="@{ (${activeId == 'user_center' ? '/default/navigatorBar/new_9.png':'/default/navigatorBar/new_10.png' })}"  class="small_img" id="user_center">
        <!--<div class="user_center">个人中心</div>-->
    </a>
</div>

<div id="singDiv" th:replace="common/sign:: sign"></div>

</html>
