<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:fragment="footer(activeId)">
<div>
    <ul class="food">
        <li onclick="gotoRec()">
            <img class="right" th:src="@{ (${activeId == 'goto_rec' ? '/default/recommend/img/goto_rec_1.png' : '/default/recommend/img/goto_rec.png'}) }"  alt="">
            <p>去推荐</p>
        </li><li onclick="rec()">
        <img class="right" th:src="@{ (${activeId == 'rec' ? '/default/recommend/img/rec_1.png' : '/default/recommend/img/rec.png'}) }"alt="">
        <p>已推荐</p>
    </li><li onclick="myInfo()">
        <img class="right" th:src="@{ (${activeId == 'myInfo' ? '/default/recommend/img/myInfo_1.png' : '/default/recommend/img/myInfo.png'}) }" alt="">
        <p>关于我</p>
    </li>
    </ul>
</div>
<!--<div class="footer_navigator" >
    <a href="/index">
        <img th:src="@{ (${activeId == 'home' ? '/default/navigatorBar/new_1.png' : '/default/navigatorBar/new_2.png'}) }"  class="small_img" id="home">
        &lt;!&ndash;<div class="home">钻石会</div>&ndash;&gt;
    </a>
    <a href="/mall/index">
        <img th:src="@{ (${activeId == 'integral' ? '/default/navigatorBar/new_3.png':'/default/navigatorBar/new_4.png'})}"  class="small_img" id="integral">
         &lt;!&ndash;<div class="integral">积分商城</div>&ndash;&gt;
    </a>
	<span  class="sign_in_box">
           <img th:src="@{(${activeId == 'sign_in' ? '/default/navigatorBar/5.png':'/default/navigatorBar/5.png' })}"  class="sign_in_img" id="sign_in">
	</span>
    <a href="/business/union/index">
        <img th:src="@{ (${activeId == 'union_shops' ? '/default/navigatorBar/new_7.png':'/default/navigatorBar/new_8.png' })}"  class="small_img" id="union_shops">
        &lt;!&ndash;<div class="union_shops">联盟商家</div>&ndash;&gt;
    </a>
    <a href="/member/index">
        <img th:src="@{ (${activeId == 'user_center' ? '/default/navigatorBar/new_9.png':'/default/navigatorBar/new_10.png' })}"  class="small_img" id="user_center">
        &lt;!&ndash;<div class="user_center">个人中心</div>&ndash;&gt;
    </a>
</div>-->

<script>

    function gotoRec() {
        location.href = '/rec/recommend';
    }
    function rec() {
        location.href = '/rec/list';
    }
    function myInfo() {
        location.href = '/rec/myInfo';
    }

</script>
</html>
