<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:fragment="footer(activeId)">
<div>
    <ul class="food">
        <li onclick="gotoRec()">
            <img class="right" th:src="@{ (${activeId == 'goto_rec' ? '/default/recommend/img/goto_rec_1.png' : '/default/recommend/img/goto_rec.png'}) }"  alt="">
            <p>去推荐</p>
        </li><li onclick="rec()">
        <img class="right" th:src="@{ (${activeId == 'rec' ? '/default/recommend/img/rec_1.png' : '/default/recommend/img/rec.png'}) }"alt="">
        <p>已推荐</p>
    </li><li onclick="myInfo()">
        <img class="right" th:src="@{ (${activeId == 'myInfo' ? '/default/recommend/img/myInfo_1.png' : '/default/recommend/img/myInfo.png'}) }" alt="">
        <p>关于我</p>
    </li>
    </ul>
</div>
<script>

    function gotoRec() {
        location.href = '/rec/recommend';
    }
    function rec() {
        location.href = '/rec/list';
    }
    function myInfo() {
        location.href = '/rec/myInfo';
    }

</script>
</html>
