<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta th:replace="common/header :: header('邀请注册')"></meta>
    <meta name="keywords" content=""/>
    <meta name="description" content="{$shopName}"/>
    <meta name="viewport" content="width=640, initial-scale=0.5, minimum-scale=0.5, maximum-scale=0.5, user-scalable=no">
    <link rel="stylesheet" href="/default/member/css/invitation.css" th:href="@{/default/member/css/invitation.css}">
    <script type="text/javascript" src="/common/js/jweixin-invite.js" th:src="@{/common/js/jweixin-invite.js}"></script>
    <script th:inline="javascript"  type="text/javascript">
        var mainWeixinId = [[${mainWeixinId}]];
        var redirectUrl=[[${redirectUrl}]];
    </script>
</head>
<body style="display: none;">
    <div class="page_main">
        <div class="top_section">
            <div class="top_1_img">
                <img  src="/default/inviteReg/img/top_1.png" th:src="@{/default/inviteReg/img/top_1.png}" class="top_1">
            </div>
            <div class="top_2_img">
                <img  src="/default/inviteReg/img/xiang.png" th:src="@{/default/inviteReg/img/xiang.png}" class="top_2_tips1">
                <div  th:text="${inviteIntegral}" class="integral"></div>
                <img src="/default/inviteReg/img/jifenli.png" th:src="@{/default/inviteReg/img/jifenli.png}" class="top_2_tips2">
            </div>
            <div class="user_info_line">
                <div class="user_info">
                    <img th:src="${headImgUrl}" class="user_img">
                </div>
                <img src="/default/inviteReg/img/top_2.png" th:src="@{/default/inviteReg/img/top_2.png}" class="top_2">
            </div>
            <div class="qrcode_section">
                <img th:src="${BASE_PIC_PATH+qrCode}" class="qrcode_img">
                <div class="tips_2" style="padding-top: 15px;">分享或截图保存此邀请函给好友</div>
                <div class="tips_2">为确保积分奖励精准到账</div>
                <div class="tips_2" style="color: #8f8f94;">请在关注‘<samp style="color: #cf534c;"><strong>建发房产钻石会</strong></samp>’公众号<samp style="color: #cf534c;"><strong>之后</strong></samp></div>
                <div class="tips_3" >再扫此二维码进行注册哦</div>
            </div>
        </div>
    </div>
</body>
</html>

<script>
    window.onload=function(){
        /*按比例放大缩小*/
        var currClientWidth, fontValue, originWidth;originWidth = 750;//ui设计稿的宽度，一般750或640
        __resize();
        window.addEventListener('resize', __resize, false);
        function __resize() {
            currClientWidth = document.documentElement.clientWidth;
            if (currClientWidth > 768){
                currClientWidth = 768;
            }
            if (currClientWidth < 320){
                currClientWidth = 320;
            }
            fontValue = ((625 * currClientWidth) / originWidth).toFixed(2);
            document.documentElement.style.fontSize = fontValue + '%';
        }
        //撑开积分宽度
        $("body").show();
        $('.top_2_tips2').css('marginTop',$('.page_main .top_2_img .integral').width()+5)
    }
</script>