<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<title>品牌详情</title>
<meta charset="utf-8">
<meta name="viewport" content="width=640,initial-scale=0.5,maximum-scale=0.5" />
<link rel="stylesheet" href="/common/css/html5.css" />
<!--<link rel="stylesheet" href="/default/CommercialGuide/all.css" />-->
<link rel="stylesheet" href="/common/js/raty-2.6.0/jquery.raty.css"  th:href="@{/common/js/raty-2.6.0/jquery.raty.css}"/>
<link rel="stylesheet" href="/default/Index/css/swiper.min.css"  th:href="@{/default/Index/css/swiper.min.css}"/>
<link rel="stylesheet" href="/default/tenant/css/main.css"  th:href="@{/default/tenant/css/main.css}"/>
<script src="/common/js/jquery.js" th:src="@{/common/js/jquery.js}"></script>
<script src="/common/js/public.js" th:src="@{/common/js/public.js}"></script>
<script src="/common/js/raty-2.6.0/jquery.raty.js" th:src="@{/common/js/raty-2.6.0/jquery.raty.js}"></script>
<script type="text/javascript" src="/common/js/common.js" th:src="@{/common/js/common.js}"></script>
</head>
<body style="background-color: rgb(230, 230, 230);">
<!--图片滑动放大 e-->
<div id="content" style="width: 100%">
	<div class="mod plr8 bgFf top-head">
		<div class="show-big-img"></div>
		<div class="mt8 clearfix2"> 
			<a href="javascript:;" class="f2 mr10 relative">
			<img   th:src="${BASE_PIC_PATH + tenant.itemTenantLogo}"  class="mmlPic bdr"> </a>
			<div class="btnItem" style="border:none;background:none;height:40px;line-height:40px;margin-top:10px;"
				th:text="${tenant.itemTenantZname + tenant.itemTenantEname}"
			>
			</div>
			<div id="score" class="score"></div>
			<script>
				$('div#score').raty({ readOnly: true,name:"score",score: "{$praiseScore}",path: '/common/js/raty-2.6.0/images-blue' });
			</script>
		   <div style="font-size: 24px;color:#9a9a9a;"
		   		th:text="${'人均:￥'+tenant.itemPriceAvg+' 元/人'}"
		   ></div>
		</div>
		<div class="btnItem mt12"><img src="/default/CommercialGuide/locate.png" th:src="@{/default/CommercialGuide/locate.png}" th:text="${tenant.itemLegalAddress}"> </div>
			<div class="btnItem mt12 link-to" th:attr="url=${'tel:'+tenant.itemtenantTel}" th:if="${tenant.itemtenantTel !=''}">
				<img src="/default/CommercialGuide/tele.png"
				 th:src="@{/default/CommercialGuide/tele.png}"
				th:text="${tenant.itemtenantTel}"
			> </div>
	</div>
</div>

<div class="introduce" style="width: 100%">
	<div class="intro-head">商户信息</div>
	<div style="font-size:24px !important;font-weight:normal !important;" th:utext="${tenant.itemTenantZintr}"></div>
    <div style="font-size:24px !important;font-weight:normal !important;" th:utext="${tenant.itemTenantEintr}"></div>
</div>

<div class="m-section" th:if="${#lists.size(secKills) >0 }">
	<div class="m-func-title">秒杀</div><a href="/seckill/index" data-ajax="false">更多</a>
	<div class="m-wrapper">
		<div class="m-list expandable">

			<div class="m-list-item" data-role="link"  th:each="item : ${secKills}"
				 th:attr="data-url=${SECKILL_SERVER_URL+'/productDetail?hproduct_id='+item.ITEM_HPRODUCT_ID+'&shop_id='+tenant.itemShopId+'&isWaiting=false'}"
			>
					<img th:src="${BASE_PIC_PATH+ item.ITEM_PRODUCT_MAP}">

					<div th:text="${item.ITEM_PRODUCT_NAME}"></div>
					<div>
						<span class="price-spec" th:text="${'￥' + item.ITEM_SPIKE_PRICE}"></span>
						<span class="price-prim" th:text="${'原价￥' + item.ITEM_SEL_PRICE}"></span>
					</div>
			</div>
		</div>
	</div>
</div>

</body>
<script src="/common/js/swiper.min.js" th:src="@{/common/js/swiper.min.js}"></script>
<script type="text/javascript">
	var globalVar={};
	globalVar.collectFlag = true;
	globalVar.praiseFlag = true;
	$(function(){

		$('.m-list').each(function(index, element) {
			len=$(this).children('.m-list-item').length;
			width=$(this).children('.m-list-item').outerWidth();
			$(this).css({width:width*len});
		});

		$("*[data-role='link']").on('click',function(){
			url=$(this).attr('data-url');
			location.href=commonChangeDtUrl( url );
		});

		//点击图片放大
		$(".swiper-comment-img").click(function(){
			var imgSrc = $(this).attr("src");
			$(".show-big-img img").attr("src", imgSrc);
			$(".mark-layer").css("height", $("body").css("height"));
			$(".show-big-img").show();
			$(".mark-layer").show();
		})
		//点击隐藏按钮隐藏弹出层
		$("#closeImg").click(function(){
			$(".show-big-img").hide();
			$(".mark-layer").hide();
		})
		//点击弹出层隐藏弹出层
		$(".mark-layer").click(function(){
			$(".show-big-img").hide();
			$(".mark-layer").hide();
		})
	});

    //图片滑动和放大效果
    var mySwiper = new swiper('.swiper-container', {
//        slidesPerView : 3         //网格布局
        autoplayDisableOnInteraction: false,    //触摸后继续自动播放
        autoplay: '6000',   //自动滚动
        pagination : '.swiper-pagination'  //显示隐藏按钮
    })


</script>
</html>
