*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
    resize: none;
}
.page_main{
    width: 100%;
    font-size:0.3rem;
    max-width:7.5rem;
    margin:0 auto;
    
}
.page_main{
    padding-top: 0.35rem;
    width: 100%;
    font-size: 0.3rem;
}
.page_main .b_c_flex{
    display: flex;
    display: -webkit-flex;
    justify-content: space-between;
    -webkit-justify-content: space-between;
    align-items: center;
    -webkit-align-items: center;
}
.page_main .a_c_flex{
    display: flex;
    display: -webkit-flex;
    justify-content: flex-start;
    -webkit-justify-content: flex-start;
    align-items: center;
    -webkit-align-items: center;
}
.receive_user_line,.receive_phone_line{
    padding: 0 0.45rem;
    margin-bottom: 0.4rem;
}
.receive_user_line input,.receive_phone_line input{
    color: #000;
    text-align: right;
    border:none;
    font-size: 0.3rem;
}
.receive_user_line input::-webkit-input-placeholder,.receive_phone_line input::-webkit-input-placeholder {
    color: #000;
}
.receive_address_box{
    padding: 0 0.45rem;
    height: 1.6rem;
}
.receive_address_box .title{
    font-size: 0.3rem;
    color: #000;
    margin-bottom: 0.3rem;
}
.receive_address_box textarea{
    outline: none;
    width: 100%;
    height: 100%;
    border-radius: 1px solid #ccc;
    border-radius: 0.1rem;
    resize: none;
    padding: 0.3rem 0.35rem;
    color: #000;
    font-size: 0.26rem;
    line-height: 0.5rem;
}
.receive_address_box textarea::-webkit-input-placeholder {
    font-size: 0.26rem;
    color: #8b8b8b;
    line-height: 0.5rem;
}

.exchange{
    width: 100%;
    max-width:7.5rem;
    text-align: center;
    margin: 4rem auto 0.5rem;
}
.exchange .exchange_btn{
    display: inline-block;
    background:#ef5f55;
    border-radius: 50px;
    font-size: 0.3rem;
    color: #fff;
    width: 530px;
    height: 70px;
    line-height: 70px;
    text-align: center;
    box-shadow: 1px 8px 10px rgba(0,0,0,0.3);
    letter-spacing: 0.1rem;
}

.exchange a{
    text-decoration: none;
}
/*提示2遮罩 s*/
#submit_mask2{
    display:none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding-top: 50%;
    background: rgba(0,0,0,0.5);
    z-index: 300;
}
#submit_mask2 .pop_container2{
    width: 72%;
    margin: 0 auto;
    background: #fff;
    border-radius: 0.15rem;
    text-align: center;
    padding-bottom:0.25rem;
}
#submit_mask2 .pop_container2 .title_line2{
    text-align: left;
    background: url("/default/mall/images/edit.png") no-repeat;
    background-size: 100% 100%;
    font-size:0.3rem;
    color: #fff;
    height:1.45rem;
    line-height: 1.45rem;
    padding-left:0.35rem;
}
#submit_mask2 .pop_container2 .tips_container2{
    padding: 0.2rem 0.2rem 0.25rem 0.2rem;
    font-size:0.28rem;
    color: #333;
    line-height: 0.32rem;
    text-align: center;
}
#submit_mask2 .pop_container2 .submit_btn2{
    display: inline-block;
    height:0.55rem;
    line-height:0.55rem;
    font-size: 0.28rem;
    background: #db4a45;
    color: #fff;
    width: 50%;
    margin: 0;
    border-radius:0.5rem;
    padding: 0;
    border: none;
}
#submit_mask2 .close_mask_btn{
    width: 100%;
    text-align: center;
    font-size: 0.4rem;
    color: #fff;
    margin-top:0.3rem;
}
/*提示2遮罩  e*/