<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<head>
    <meta th:replace="common/header :: header('积分记录')"></meta>
    <link rel="stylesheet" type="text/css" href="/default/member/css/score-record.css" th:href="@{/default/member/css/score-record.css}">

</head>
<body>

<div class="top_info_box">
    <div th:if="${userInfo.itemHeadimgurl}">
        <img th:src="${userInfo.itemHeadimgurl}" class="user_img">
    </div>
    <div th:if="!${userInfo.itemHeadimgurl}">
        <img th:src="/default/Index/img/sdw.png" class="user_img" th:src="@{/default/Index/img/sdw.png}">
    </div>

    <div class="user_info_box">
        <div th:if="${userInfo.itemCompellation}" class="user_name" th:text="${userInfo.itemCompellation}"></div>
        <div th:if="!${userInfo.itemCompellation}" class="user_name" th:text="${userInfo.itemVipName}"></div>
        <div class="integral_desc">
            <span th:if="${integralList.totalCreatePoints}" class="have_get" th:text="'已获得积分:' + ${integralList.totalCreatePoints}"></span>
            <span th:if="!${integralList.totalCreatePoints}" class="have_get">已获得积分:0</span>
            <span th:if="${integralList.totalUsedPoints}" class="have_use" th:text="'已使用积分:' + ${integralList.totalUsedPoints}"></span>
            <span th:if="!${integralList.totalUsedPoints}" class="have_use">已使用积分:0</span>
        </div>
    </div>
</div>
<div class="record_list">
    <div th:each="vo : ${integralList.rows}" class="record_item">
        <div class="name_time">
            <div class="get_name" th:text="${vo.pointsWayName}"></div>
            <div class="get_time" th:text="${vo.createTime}"></div>
        </div>
        <div class="integral" th:text="${vo.pointsVal}"></div>
    </div>

</div>
</body>

</html>
