<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-touch-fullscreen" content="yes">
    <meta name="full-screen" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no">
    <meta name="format-detection" content="address=no">
    <title>身份认证</title>
    <link rel="stylesheet" type="text/css" href="/common/js/weui-1.1.2/dist/style/weui.css" th:href="@{/common/js/weui-1.1.2/dist/style/weui.css}">
    <link rel="stylesheet" type="text/css" href="/default/member/css/lev-page.css" th:href="@{/default/member/css/lev-page.css}">
</head>
<body>
<div class="page__bd" style="background: #f5f5f5;">
    <div class="weui-cells">
        <a class="weui-cell weui-cell_access" href="javascript:;">
            <div class="weui-cell__bd">
                <p>真实姓名</p>
            </div>
            <div class="weui-cell__ft">
                <input class="weui-input phone" id="editName" placeholder="请填写真实姓名" type="text" maxlength="6"
                       th:value="${userInfo.itemCompellation}" name="info[ITEM_COMPELLATION]">
            </div>
        </a>
        <a class="weui-cell weui-cell_access" href="javascript:;">
            <div class="weui-cell__bd">
                <p>手机号码</p>
            </div>
            <div class="weui-cell__ft">
                <input id="editMobile" class="weui-input phone" placeholder="手机号" type="text"
                       th:value="${userInfo.itemMobile}" name="info[ITEM_MOBILE]" readonly>
            </div>
        </a>
        <a class="weui-cell weui-cell_access" href="javascript:;">
            <div class="weui-cell__bd">
                <p>证件类型</p>
            </div>
            <div class="weui-cell__ft">
                <select class="weui-select" name="ITEM_IDTYPE" style="color:#333;text-align: right;">
                    <option value="">请选择证件类型</option>
                    <option th:each="vo : ${idType}" th:value="${vo}" th:text="${vo}"></option>
                </select>
            </div>
        </a>
        <a class="weui-cell weui-cell_access" href="javascript:;">
            <div class="weui-cell__bd">
                <p>证件号码</p>
            </div>
            <div class="weui-cell__ft">
                <input class="weui-input" id='editIdno' placeholder="请输入证件号码" type="text"
                       th:value="${userInfo.itemIdNo}" name="info[ITEM_IDNO]">
            </div>
        </a>
    </div>
    <div class="weui-cells" style="margin-top:10px;">
        <a class="weui-cell weui-cell_access" href="javascript:;" style="border-bottom: 1px solid #f1f1f1;">
            <div class="weui-cell__bd">
                <p>声明</p>
            </div>
            <div class="weui-cell__ft">

            </div>

        </a>
        <!--<i class="line"></i>-->
        <div class="weui-cells__tips">如果您是建发一手房业主或是建发旗下商场会员，可以进行会员身份认证，系统会自动为您匹配对应会员等级，后续您将尊享专享折扣、定制服务等多重会员特权。</div>
    </div>
    <input type="hidden" name="shop_id" th:value="${userInfo.itemMallId}">

    <div class="add_complain" id="add_complain">
        <!--<span class="add_complain_btn disable">提交投诉</span>-->
        <a href="javascript:;" class="add_complain_btn" id="out_block">确认提交</a>
    </div>
</div>
<!--弹出二维码 s-->
<div class="my-ewm-bg">

</div>
<div class="my-ewm-box">
    <div class="ewm_top">
        确认身份信息
    </div>
    <div class="ewm_body">
        <div class="ewm_wrap">

        </div>
        <a href="###" class="close" onclick="hide_msg()">确认</a>
    </div>

</div>
<!--弹出二维码 e-->

<!--确认提交投诉遮罩-->
<div id="submit_mask">
    <div class="pop_container">
        <div class="title_line">确认身份信息</div>
        <div class="tips_container">
            <p style="text-align:left;">请确认您输入的资料与您购房/商场会员留下的信息一致。</p>
            <p style="text-align:left;">如有疑问，请在微信公众号留言，我们将第一时间予以反馈。</p>
        </div>
        <!--<input type="submit" class="submit_btn" id="submit_btn" value="确认"/>-->
        <div class="submit_btn" id="submit_btn">确定</div>
    </div>
    <div class="close_mask_btn"><span class="close_btn">X</span></div>
</div>

<!--提示遮罩2-->
<div id="submit_mask2">
    <div class="pop_container2">
        <div class="title_line2">温馨提示</div>
        <div class="tips_container2">
            <p style="text-align:center;">您的问题已提交，请等待受理，如有疑问请拨打400-846-3636</p>
        </div>
        <!--<input type="submit" class="submit_btn" id="submit_btn" value="确认"/>-->
        <div class="submit_btn2" onclick="close_mask2()">确定</div>
    </div>
    <!--<div class="close_mask_btn"><span class="close_btn">X</span></div>-->
</div>

<div id="loading_gif">
    <div class="loading_gif" id="loading_gif_container">
        <img src="/default/Index/img/loading.gif" th:src="@{/default/Index/img/loading.gif}">
    </div>
</div>
</body>
<script type="text/javascript" src="/common/js/jquery-1.8.3.min.js" th:src="@{/common/js/jquery-1.8.3.min.js}"></script>
<script type="text/javascript" src="/common/js/toast.js" th:src="@{/common/js/toast.js}"></script>
<script src="/common/js/dialog.js" th:src="@{/common/js/dialog.js}"></script>
<script src="/common/layer/layer.js" th:src="@{/common/layer/layer.js}"></script>
<script type="text/javascript" src="/common/js/common.js" th:src="@{'/common/js/common.js?dt='+${DT}}"></script>
<script type="text/javascript" src="/default/member/js/lev-page.js" th:src="@{/default/member/js/lev-page.js}"></script>
</html>