<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>商户登录</title>
    <!--<meta th:include="common/header :: header('商户登录')"></meta>-->
    <script type="text/javascript" src="/common/js/jquery.js" th:src="@{/common/js/jquery.js}"></script>
<!--    <link rel="stylesheet" href="/common/css/public.css" th:href="@{/common/css/public.css}">-->
    <link rel="stylesheet" href="/common/layer/skin/default/layer.css?v=3.0.3303" id="layuicss-skinlayercss" th:href="@{'/common/layer/skin/default/layer.css?v=3.0.330'}">

 <script type="text/javascript"  src="/common/js/jquery.cookie.js" th:src="@{/common/js/jquery.cookie.js}"></script>
    <script type="text/javascript" src="/common/layer/layer.js" th:src="@{/common/layer/layer.js}"></script>
    <script type="text/javascript" src="/common/js/common.js" th:src="@{/common/js/common.js}"></script>
    <link rel="stylesheet" type="text/css" href="/common/js/weui-1.1.2/dist/style/weui.css" th:href="@{/common/js/weui-1.1.2/dist/style/weui.css}">
    <link rel="stylesheet" href="/default/member/css/login.css" th:href="@{/default/member/css/login.css}">
      <script th:inline="javascript"  type="text/javascript">
     var currWeixinId = [[${session.currWeixinId}]];
     var pJsId = [[${#httpServletRequest.getSession().getId()}]];

     if(getCookie("jsessionId") == null ||  ( getCookie("jsessionId")!=null && getCookie("jsessionId") != pJsId)){
         ajax_post("../public/getJsId", function(res){
             pJsId = res;
             delCookie("jsessionId");
             setCookie("jsessionId",pJsId,30);
         });
     }

 </script>

    <script type="text/javascript"  src="/common/js/public.js" th:src="@{/common/js/public.js?dt=111}"></script>
   <script type="text/javascript" src="/common/js/iscroll_4.js" th:src="@{/common/js/iscroll_4.js}"></script>
   <script type="text/javascript" src="/common/js/list-scroll.js" th:src="@{/common/js/list-scroll.js}"></script>
   <script type="text/javascript" src="/common/js/jweixin-1.2.0.js"></script>
   <script type="text/javascript" src="https://res.wx.qq.com/open/js/jweixin-1.2.0.js"> </script>
   <script type="text/javascript" src="/common/js/jweixin-ext.js" th:src="@{/common/js/jweixin-ext.js}"></script>
   <script type="text/javascript" src="/common/js/toast.js" th:src="@{/common/js/toast.js}"></script>
   <script  type="text/javascript"  src="/common/js/dialog.js" th:src="@{/common/js/dialog.js}"></script>

</head>
<body>
<div class="page" id="loginInfo">
    <div class="page__bd">
        <div class="weui-cell" style="padding: 0;height: 35px;">
            <div class="weui-cell__bd">
                <input class="weui-input" id="mobile" type="text" placeholder="请输入您的手机号"
                       onkeyup="this.value=this.value.replace(/[^0-9]/g,'')" onafterpaste="this.value=this.value.replace(/[^0-9]/g,'')">
            </div>
        </div>
        <div class="clear_line"></div>
        <div class="weui-cell weui-cell_vcode" style="padding: 0;height: 35px;padding-bottom: 10px;margin-top: 20px;padding-right: 5px">

            <div class="weui-cell__bd">
                <input class="weui-input" value="" id="verify" type="tel" placeholder="请输入验证码">
            </div>
            <div class="weui-cell__ft" onclick="sendCode()" style="font-size: 12px; height: 30px;line-height: 28px;border-radius: 5px;background: transparent;padding: 0 15px;" id="get_code">
                获取验证码
            </div>
        </div>
        <div class="clear_line" style="margin-bottom: 40px"></div>

        <div class="clear_null" style="margin-bottom: 40px"></div>
        <a href="###"  class=" weui-btn_warn go_register" >登录</a>
    </div>
</div>

<div id="tips_pop_container">
    <span></span>
</div>
</body>
<script type="text/javascript" src="/default/member/js/login.js" th:src="@{/default/member/js/login.js}"></script>

</html>