<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>用户服务协议及隐私条款</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=640, initial-scale=0.5, minimum-scale=0.5, maximum-scale=0.5, user-scalable=no">
    <!--    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
        <link rel="stylesheet" type="text/css" href="/common/css/default/marketDetail.css"
              th:href="@{/common/css/default/marketDetail.css}">
        <link rel="stylesheet" href="/common/jquery.mobile-1.4.3/jquery.mobile-1.4.3.min.css">
        <script src="/common/js/jquery.js" th:src="@{/common/js/jquery.js}"></script>
        <script src="/common/jquery.mobile-1.4.3/jquery.mobile-1.4.3.min.js" th:src="@{/common/jquery.mobile-1.4.3/jquery.mobile-1.4.3.min.js}"></script>-->
    <style>
        div{
            box-sizing: border-box;
        }
        .page_main{
            position: relative;
            width: 100%;
            padding: 0.8rem 0.4rem;
            font-size: 0.24rem;
            color: #333;
            line-height: 0.4rem;
        }
        .page_main .title{
            color: #d63f3d;
            font-weight: bold;
            margin-bottom: 0.4rem;
        }
        /*底部二维码 e*/
    </style>

</head>
<body>
<div>
    <div class="page_main">
        <p class="title">1 重要提示</p>
        <p>1.1 用户使用建发房产钻石会前，请务必仔细阅读并充分理解《建发房产钻石会用户服务协议及隐私条款》（以下简称“本协议”）的全部内容。未成年人应在法定监护人陪同下阅读。</p>
        <p>1.2 除非用户接受本协议所有条款，否则用户无权注册、登录、使用本协议所涉及服务。用户的注册、登录、使用等行为将视为对本协议的接受，并同意接受本协议各项条款的约束。</p>

        <p class="title">2 服务内容</p>

        <p>2.1
            建发房产钻石会平台（以下简称“钻石会”）是建发房产旗下唯一的官方会员平台，提供房产、商场、物业、金融、家居、互动等覆盖衣食住行娱乐全方位的会员特权，主要包括五大服务体系：购房服务、业主尊享、金融服务、商场优惠、联盟商家。</p>
        <p>2.2
            用户一旦注册成功，将得到一个账号和密码，用户需要对自己在账户中的所有活动和事件负全责。如果由于用户的过失导致用户的账号和密码脱离用户的控制，则由此产生的针对用户本人或任何第三方造成的损害，用户将承担全部责任。</p>
        <p>2.3
            用户理解并接受，钻石会仅提供相关的网络服务，除此之外与相关网络服务有关的设备（如个人电脑、手机、及其他与接入互联网或移动互联网有关的装置）及所需的费用（如为接入互联网而支付的电话费及上网费、为使用移动网而支付的手机费）均应由用户自行负担。</p>

        <p class="title">3 用户注册</p>

        <p>3.1 注册资格</p>
        <p>用户承诺：用户具有完全民事权利能力和行为能力或虽不具有完全民事权利能力和行为能力但经其法定代理人同意并由其法定代理人代理注册及应用钻石会服务。</p>
        <p>3.2 注册目的</p>
        <p>用户承诺：用户进行用户注册并非出于违反法律法规或破坏钻石会服务秩序的目的。</p>
        <p>3.3 注册流程</p>
        <p>    3.3.1
            用户同意根据钻石会注册页面的要求提供真实姓名、有效手机号码、有效电子邮箱、所在城市等信息，设置钻石会账号及密码，用户应确保所提供全部信息的真实性、完整性、准确性。因注册信息不真实、不完整、不准确而引起的问题，由用户自行承担相应的后果，钻石会不承担任何责任。</p>
        <p>    3.3.2 用户在注册时有权选择是否订阅钻石会发送信息的电子邮件和/或短信息。</p>
        <p>    3.3.3 用户合法、完整、有效提供注册所需信息后，有权获得钻石会账号及密码，钻石会账号及密码用于用户在钻石会进行会员登录。</p>
        <p>    3.3.4 用户获得钻石会账号及密码时视为用户注册成功，用户同意接收钻石会发送的与钻石会网站管理、运营相关的电子邮件和/或短消息。</p>
        <p>3.4 注册信息保护</p>
        <p>    3.4.1
            钻石会账号的所有权归钻石会所有，用户完成申请注册手续后，获得钻石会账号的使用权，且该使用权仅属于初始申请注册人。用户应提供及时、详尽、准确的个人资料，并不断更新个人资料，符合及时、详尽及准确的要求。所有原始输入的个人资料将引用为注册资料。</p>
        <p>    3.4.2
            初始申请注册人不得将其账号及密码转让、出售、赠与或出借予他人使用，如果钻石会发现使用者并非账号注册者本人，钻石会有权停止继续服务。如用户发现其账号遭他人非法使用，应立即通知钻石会。因黑客行为或用户违反本协议规定导致账号、密码遭他人非法使用的，由用户本人承担因此导致的损失和一切法律责任，钻石会不承担任何责任。</p>

        <p class="title">4 用户服务规则</p>

        <p>4.1 钻石会为用户提供通过钻石会进行网络社区服务，目前钻石会对用户提供的网络社区服务为免费服务，但钻石会保留未来收取服务费用的权利。</p>
        <p>4.2 用户承诺遵守下列钻石会服务规则：</p>
        <p>    4.2.1
            用户应当遵守法律法规、规章、规范性文件及政策要求的规定，不得在钻石会或利用钻石会服务从事非法或其他损害钻石会或第三方权益的活动，如发送或接收任何违法、违规、违反公序良俗、侵犯他人权益的信息，发送或接收传销材料或存在其他危害的信息或言论，未经钻石会授权使用或伪造钻石会电子邮件题头信息等。</p>
        <p>    4.2.2
            用户应当遵守法律法规，应当谨慎合理使用和妥善保管钻石会账号及密码，对其钻石会账号及密码下进行的行为和发生的事件负责。当用户发现钻石会账号被未经其授权的第三方使用或存在其他账号安全问题时应立即有效通知钻石会，要求钻石会暂停该钻石会账号的服务，并向公安机关报案。钻石会有权在合理时间内对用户的该等请求采取行动，但对采取行动前用户已经遭受的损失不承担任何责任。用户在未经钻石会同意的情况下不得将钻石会账号以赠与、借用、租用、转让或其他方式处分给他人。</p>
        <p>    4.2.3 用户与钻石会联盟商家进行交易时，应当遵守本协议的全部约定及钻石会发布的其他关于交易的服务条款和操作规则的全部规定。</p>
        <p>    4.2.4 <font face="华文细黑">用户对向钻石会联盟商家购买的商品</font>/服务进行评价时应当根据实际情况如实进行评价。</p>
        <p>    4.2.5 用户应当按照钻石会发布的规则参加钻石会活动，遵守活动秩序。</p>
        <p>    4.2.6 钻石会发布的其他服务条款和操作规则。</p>

        <p class="title">5 积分规则</p>

        <p>5.1
            用户注册钻石会后即可享受积分服务，积分仅限在钻石会范围内使用，积分是对用户购买建发旗下房产、在建发房产旗下商场消费、完善钻石会个人资料、进行每日签到、参与钻石会线上线下举办的各类相关活动所进行的奖励，钻石会对于所有与积分相关的事项拥有最终解释权。</p>
        <p>5.2 积分可在钻石会平台上通用，比如在积分商城里进行物业费抵用、兑换礼品、领取优惠券、参加秒杀、参加团购、参加抢红包等游戏。同时，积分也可在所有建发旗下的售楼处、小区、商场内使用。</p>
        <p>5.3 用户完成钻石会注册后，可通过以下途径获得积分：</p>
        <p>    5.3.1 在钻石会平台上进行每日签到，可获得一定数量积分；</p>
        <p>    5.3.2 购买建发房产旗下任意住房产品，可凭消费金额获得一定比例的积分；</p>
        <p>    5.3.3 在建发房产旗下任意商场消费，可凭消费金额获得一定比例的积分；</p>
        <p>    5.3.4 钻石会不定期会举办与积分相关的活动，用户参加这些活动就有机会赚取一定数量积分；</p>
        <p>    5.3.5 钻石会发布的其他可以获取积分的途径。</p>
        <p>5.4 积分规则的其他说明：</p>
        <p>    5.4.1 钻石会积分在兑换成产品、服务前并不构成用户资产，积分不可转让给其他用户或任何第三人，任何转让对钻石会均不产生效力；</p>
        <p>    5.4.2 未经钻石会同意，积分不能折算现金或除钻石会提供的产品、服务外的其他任何形式的等价物；</p>
        <p>    5.4.3 在获取和使用积分过程中，如果出现违规行为（如作弊领取等），钻石会将取消用户获得积分的资格，并有权收回活动中所得的积分（含已使用的积分及未使用的积分），必要时将追究法律责任；</p>
        <p>    5.4.4 如用户账户暂停使用，则钻石会将取消该用户账号内积分的相关使用权限；</p>
        <p>    5.4.5 以积分兑换商品（包括但不限于旅游、餐饮）折扣、电子券、抵用券或其他凭证皆有使用期限，用户需于该折扣、电子券、抵用券或其他凭证上所载有效期限内使用，否则即丧失使用权利，亦无法退换或延续；</p>
        <p>    5.4.6 钻石会平台或宣传品中的产品、服务图片及说明仅供参考，请以实物为准；</p>
        <p>    5.4.7 积分所兑换的产品、服务，由各产品、服务供应商提供，其质量、数量、款式、颜色、售后服务等问题均由供应商负责，钻石会不承担任何责任；</p>
        <p>    5.4.8 积分属回馈用户，一经兑换后一律不退不补，积分所兑换的商品、服务不提供发票，一经签收后不支持退换；</p>
        <p>    5.4.9 如用户所兑换的产品、服务在使用或配送中出现问题，钻石会将协助用户协调处理，但钻石会不承担任何责任；</p>
        <p>    5.4.10 因用户所兑换的产品、服务而发生的相应所得税均由用户自行申报和承担；</p>
        <p>    5.4.11 如某产品、服务已兑换数量已达到钻石会所设定的限量时，钻石会将协助用户更改兑换其他产品、服务，直至所有产品、服务已兑换完毕，用户不得坚持兑换已超过限量的产品、服务；</p>
        <p>    5.4.12
            如因用户提供的邮寄信息及联系方式不真实，在寄送积分所兑换的产品、服务时无法送达或无人接收且多次联系未果造成退件的，钻石会将视为用户主动放弃兑换的产品、服务，并不再进行补发，同时不予退还相应的积分；</p>
        <p>    5.4.13在适用法律允许的最大范围内，钻石会并不担保积分商城提供的服务不会被中断，并且对服务的及时性、安全性以及信息是否能准确、及时、顺利的传送均不作任何保证；</p>
        <p>5.5
            在法律允许的范围内，对以上积分计划及规则，钻石会拥有最终解释权，并可能对积分计划及规则的细项进行调整。如有调整，钻石会将提前通知（钻石会有权根据实际情况选择以下一种或多种方式予以通知，具体可供选择的通知方式包括但不限于网站通知、钻石会平台通知、书面通知、电子邮件通知、语音电话通知、短信通知等）。</p>

        <p class="title">6 用户隐私保护</p>

        <p>6.1 用户同意钻石会收集、存储用户在使用钻石会平台及服务的过程中产生的信息，包括但不限于位置信息、设备信息、日志信息。</p>
        <p>6.2 钻石会对收集的用户信息中涉及识别用户个人身份和用户个人隐私的信息进行保护，承诺在未获得用户许可的情况下，不会将用户的上述信息对外公开或提供给任何第三方，但以下情况除外：</p>
        <p>    6.2.1 用户同意让第三方共享资料；</p>
        <p>    6.2.2 用户同意公开其个人资料，享受为其提供的产品和服务；</p>
        <p>    6.2.3 根据法律、法规、法律程序的要求或政府主管部门的强制性要求；</p>
        <p>    6.2.4 以学术研究或公共利益为目的，且不包含任何个人身份识别信息；</p>
        <p>    6.2.5 为维护钻石会的合法权益，例如查找、预防、处理欺诈或安全方面的问题；</p>
        <p>    6.2.6 符合相关服务条款或使用协议的规定；</p>
        <p>    6.2.7 为了商品配送或其他为用户利益需要而向交易以外第三方提供的，例如物流配送商、用户同意的商品或服务提供商等；</p>
        <p>    6.2.8 其他有利于钻石会和用户共同利益目的。</p>

        <p class="title">7 免责声明</p>

        <p>7.1 钻石会转载的内容并不代表钻石会之意见及观点，也不意味着赞同其观点或证实其内容的真实性。</p>
        <p>7.2 钻石会所转载的文字、图片、音视频等资料均由钻石会注册用户提供，其真实性、准确性和合法性由信息发布人负责。钻石会不提供任何保证，且不承担任何法律责任。</p>
        <p>7.3 钻石会所转载的文字、图片、音视频等资料，如果侵犯了第三方的知识产权或其他权利，责任由作者或转载者本人承担，钻石会对此不承担责任。</p>
        <p>7.4 钻石会不保证为向用户提供便利而设置的外部链接的准确性和完整性。同时，对于该外部链接指向的不由钻石会实际控制的任何网页上的内容，钻石会不承担任何责任。</p>
        <p>7.5 用户明确并同意其使用钻石会网络服务所存在的风险将完全由其本人承担；因其使用钻石会网络服务而产生的一切后果也由其本人承担，钻石会对此不承担任何责任。</p>
        <p>7.6 除钻石会注明之服务条款外，其它因不当使用钻石会而导致的任何意外、疏忽、合约毁坏、诽谤、版权或其他知识产权侵犯及其所造成的任何损失，钻石会概不负责，亦不承担任何法律责任。</p>
        <p>7.7 对于因不可抗力或因黑客攻击、通讯线路中断等钻石会不能控制的原因造成的网络服务中断或其他缺陷，导致用户不能正常使用钻石会，钻石会不承担任何责任，但钻石会将尽力减少因此给用户造成的损失或影响。</p>
        <p>7.8 本声明未涉及的问题请参见国家有关法律法规，当本声明与国家有关法律法规冲突时，以国家法律法规为准。</p>

        <p class="title">8 知识产权声明</p>

        <p>8.1
            钻石会所有的产品、技术、程序、页面（包括但不限于页面设计及内容）以及资料内容（包括但不限于本站所刊载的图片、视频、Flash等）均属于知识产权，仅供本用户交流、学习、研究和欣赏，未经授权，任何人不得擅自使用，否则将依法追究其法律责任。</p>
        <p>8.2
            钻石会用户在钻石会平台上传的资料内容（包括但不限于图片、视频、Flash、点评等），应保证为原创或已得到充分授权，并具有准确性、真实性、正当性、合法性，且不含任何侵犯第三人权益的内容，因抄袭、转载、侵权等行为所产生的纠纷由用户自行解决，本网站不承担任何法律责任。</p>

        <p class="title">9 商业广告推广</p>

        <p>9.1 用户同意钻石会可以在提供服务的过程中自行或由第三方向用户发送广告、推广或宣传信息（包括商业与非商业信息），其方式和范围可不经向用户特别通知而变更。</p>
        <p>9.2 对钻石会服务中出现的广告信息，用户应审慎判断其真实性和可靠性，除法律明确规定外，用户应对依该广告信息进行的交易负责。</p>

        <p class="title">10 关于平台</p>

        <p>10.1 平台的获取</p>
        <p>如果用户从未经钻石会授权的第三方渠道进入钻石会并使用钻石会提供的服务，钻石会无法保证该行为的安全性，并对因此给用户造成的损失不承担任何责任。</p>
        <p>10.2 平台的更新</p>
        <p>    10.2.1 为了改善用户体验、完善服务内容，钻石会将不断努力开发新的服务，并为你不时提供平台版本、功能更新迭代（这些更新迭代可能会采取软件替换、修改、功能强化、版本升级等形式）。</p>
        <p>    10.2.2 为了保证本平台及服务的安全性和功能的一致性，钻石会有权不经向你特别通知而对平台进行更新，或者对平台的部分功能效果进行改变或限制。</p>
        <p>    10.2.3 本平台新版本发布后，旧版本平台可能无法使用。钻石会不保证旧版本平台及相应的客户服务继续可用。</p>

        <p class="title">11 服务的中断和终止</p>

        <p>11.1
            钻石会会尽全力维护平台的正常运行，以向用户提供持续、稳定、安全、顺畅的服务。但用户理解并同意：钻石会对服务页面进行改版、升级网站系统、增加服务功能等须中断服务的操作时，有权暂时中断服务。钻石会将尽可能在实施以上行为时予以提前公告，并尽可能将影响降低到最小。</p>
        <p>11.2
            用户可自行停止使用钻石会提供的服务，并可向钻石会提交申请，要求封停或注销其账户。用户账户被封停或注销后，用户将不能使用钻石会除浏览页面外的所有服务，但钻石会仍有权保留用户的所有注册信息及过往记录，对用户在钻石会从事违法行为或违反本协议及相关规定的行为，钻石会仍有权行使本协议规定的权利并追究用户的法律责任。</p>

        <p class="title">12 违约责任</p>

        <p>12.1 如果用户违反了本协议的约定，相关国家机关或机构可能会对用户提起诉讼、罚款或采取其他制裁措施，并要求钻石会给予协助。造成损害的，用户应依法予以赔偿，钻石会不承担任何责任。</p>
        <p>12.2 用户违反本协议约定，导致任何第三方遭受损害的，用户应当独立承担责任，钻石会因此遭受的损失，用户也应当一并赔偿。</p>
        <p>12.3
            用户理解并同意，钻石会有权依据合理判断对违反有关法律法规或本协议规定的行为进行追究法律责任，对违法违规的任何用户采取适当的法律行动，并依据法律法规保存有关信息向有关部门报告等，用户应独自承担由此产生的一切法律责任。</p>

        <p class="title">13 其他</p>

        <p>13.1 本协议的成立、生效、履行、解释及纠纷解决，适用中华人民共和国大陆地区法律（不包括冲突法）。</p>
        <p>13.2
            用户使用本平台服务即视为已阅读并同意受本协议的约束，钻石会有权随时修改本协议的任何条款，一旦本协议的内容发生变动，钻石会将会公布修改后的协议内容，该行为视为钻石会已经通知用户修改内容。同时钻石会也可通过其他适当方式向用户提示修改内容。本协议条款变更后，如果用户继续使用本平台服务，即视为已接受修改后的协议。如果用户不接受修改后的协议，应当停止使用本平台服务。</p>
        <p>13.3 若用户和钻石会之间发生任何纠纷或争议，首先应友好协商解决；协商不成的，用户同意将纠纷或争议提交厦门仲裁委员会仲裁。</p>
        <p>13.4 本协议所有条款的标题仅为阅读方便，本身并无实际含义，不能作为本协议含义解释的依据。</p>
        <p>13.5 本协议条款无论因何种原因部分无效或不可执行，其余条款仍有效，对双方具有约束力。</p><br>
    </div>
</div>

</body>
</html>
<script>
    window.onload=function(){
        /*按比例放大缩小*/
        var currClientWidth, fontValue, originWidth;originWidth = 750;//ui设计稿的宽度，一般750或640
        __resize();
        window.addEventListener('resize', __resize, false);
        function __resize() {
            currClientWidth = document.documentElement.clientWidth;
            if (currClientWidth > 768){
                currClientWidth = 768;
            }
            if (currClientWidth < 320){
                currClientWidth = 320;
            }
            fontValue = ((625 * currClientWidth) / originWidth).toFixed(2);
            document.documentElement.style.fontSize = fontValue + '%';
        }
    }
</script>