<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta th:include="common/header :: header('注册')"></meta>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
	<link rel="stylesheet" type="text/css" href="/common/js/weui-1.1.2/dist/style/weui.css" th:href="@{/common/js/weui-1.1.2/dist/style/weui.css}">
	<link rel="stylesheet" href="/default/member/css/register.css" th:href="@{/default/member/css/register.css}">
	<link rel="stylesheet" href="/default/member/css/city.css" th:href="@{/default/member/css/city.css}">
	<script type="text/javascript" src="/default/member/js/city.js" th:src="@{/default/member/js/city.js}"></script>
</head>
<body>
<div class="page_container">
	<div class="top_logo_section">
		<img src="/default/member/img/personCenter/top_logo.png">
		<div class="top_title">欢迎加入钻石会</div>
	</div>
	<div class="input_section">
		<div class="input_name line">
			<input  type="hidden" id="city_name" value="">
			<input type="text"id="userName" placeholder="请输入您的姓名">
		</div>

		<div class="input_city line">
			<span class="desc">常住城市</span>
			        <span class="show_city_toast city_screen show_city_mask" >
					<span  id="choose_city_name">全国</span>
					<img id="cityImg" src="/default/member/img/personCenter/arrow_down.png" th:src="@{/default/member/img/personCenter/arrow_down.png}">
		</div>

		<div class="input_phone line">
			<input type="text"  id="editMobile" maxlength="11" onkeyup="this.value=this.value.replace(/[^0-9]/g,'')" onafterpaste="this.value=this.value.replace(/[^0-9]/g,'')" placeholder="请输入您的手机号" >
		</div>
		<div class="input_verify line">
			<input type="text" id="editVerify" onkeyup="this.value=this.value.replace(/[^0-9]/g,'')" onafterpaste="this.value=this.value.replace(/[^0-9]/g,'')"   placeholder="请输入验证码">
			<span class="get_verify_btn"  onclick="sendCode()" id="get_code">获取验证码</span>
		</div>
		<div class="sign_btn active" onclick="user_register()">注册</div>
	</div>
	<div class="agree_section" onclick="agree_rule()">
		<img src="/default/member/img/personCenter/check_on.png" id="rule_status"> 我同意
		<span  onclick="gotoPolicy()">“钻石会用户服务协议及隐私条款”</span>
	</div>
	<div class="bottom_zs"></div>
</div>
<!--城市筛选遮罩-->
<div class="screen_mask" id="city_screen_mask">
	<div class="city_screen_box" id="city_screen_box">
		<div class="container" style="width: 100%">
			<!--<div class="activity all_city" onclick="click_all_city(this)">全国</div>-->
			<div  class="city_item"  onclick="click_city_item(this)"   th:each="item :${citys}" th:name="${item.ITEM_CITY_NAME}"  th:text="${item.ITEM_CITY_NAME}" ></div>
		</div>
	</div>
	<div class="city_bottom_line">
		<span>不在上述城市范围？</span>
		<span class="show_add_city_input" >点击可新增城市</span>
	</div>
</div>
<!--确认提交投诉遮罩-->
<div id="submit_mask">
	<div class="pop_container">
		<div class="title_line">温馨提示</div>
		<div class="tips_container">
			<p style="text-align:center;"></p>
		</div>
		<div class="submit_btn">确定</div>
	</div>
</div>

<!--弹出二维码 s-->
<div class="my-ewm-bg"></div>
<div class="my-ewm-box">
	<div class="ewm-main">
		<div class="p-center">
			<p class="p-center-sty">长按下方二维码</p>
			<p class="p-center-sty">关注公众号</p>
		</div>
		<div class="ewm-img">
			<img class="ewm-img-size" src="/default/member/img/newMember/register-img1.jpg" th:src="@{/default/member/img/newMember/register-img1.jpg}">
		</div>
	</div>
	<img class="ewm-img-size-opy" src="/default/member/img/newMember/register-img1.jpg" th:src="@{/default/member/img/newMember/register-img1.jpg}">
</div>
<!--弹出二维码 e-->

<div class="qrcode_mask" id="qrcode_mask">
	<div class="qrcode_box">
		<div class="title">请长按扫描</div>
		<div class="qrcode_container">
			<div class="img_box">
				<img id="qrcode" src="/default/member/img/newMember/register-img1.jpg" th:src="@{/default/member/img/newMember/register-img1.jpg}">
			</div>
		</div>
	</div>
</div>
<div id="city_input_mask">
	<div class="container">
		<div class="add_city_name_line">
			<input type="text" id="add_city_name" placeholder="请输入城市名">
		</div>
		<div class="confirm_add_city" onclick="add_city_name()">确认</div>
	</div>
	<img src="/default/member/img/personCenter/close_btn.png" id="close_add_city_mask">
</div>
<div id="loading_gif">
	<div class="loading_gif" id="loading_gif_container">
		<img src="/default/Index/img/loading.gif" th:src="@{/default/Index/img/loading.gif}">
	</div>
</div>
<div class="close_div">
</div>

<div id="tips_pop_container">
	<span></span>
</div>
</body>
<script type="text/javascript" src="/common/js/jquery-1.8.3.min.js" th:src="@{/common/js/jquery-1.8.3.min.js}"></script>
<!--<script type="text/javascript" src="/common/js/toast.js" th:src="@{/common/js/toast.js}"></script>-->
<script src="/common/js/dialog.js" th:src="@{/common/js/dialog.js}"></script>
<script type="text/javascript" src="/common/layer/layer.js" th:src="@{/common/layer/layer.js}"></script>
<script type="text/javascript" th:inline="javascript">

	(function(){
		var currClientWidth, fontValue, originWidth;originWidth = 750;//ui设计稿的宽度，一般750或640
		__resize();
		window.addEventListener('resize', __resize, false);
		function __resize() {
			currClientWidth = document.documentElement.clientWidth;
			if (currClientWidth > 768){
				currClientWidth = 768;
			}
			if (currClientWidth < 320){
				currClientWidth = 320;
			}
			fontValue = ((625 * currClientWidth) / originWidth).toFixed(2);
			document.documentElement.style.fontSize = fontValue + '%';
		}

	})();
	var redirectUrl = [[${redirect_url}]];
	var type = [[${type}]];
	var subscribe = [[${subscribe}]];
	var inviterId = [[${inviterId}]];
	var itemWeixin = [[${itemWeixin}]];
	var initCity ;
	var city_scroll;
	/**
	 * 同意协议
	 * */
	function agree_rule() {
		if($('.sign_btn').hasClass('active')){
			$('#rule_status').attr('src','/default/member/img/personCenter/check_off.png');
			$('.sign_btn').removeClass('active');
		}else{
			$('#rule_status').attr('src','/default/member/img/personCenter/check_on.png');
			$('.sign_btn').addClass('active');
		}
	}
</script>
<script type="text/javascript" src="/default/member/js/register.js" th:src="@{/default/member/js/register.js?v=1.1.0}"></script>
</html>