<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta th:replace="common/header :: header('扫码结果')"></meta>

    <meta charset="UTF-8">
    <meta name="keywords" content=""/>
    <meta name="description" content=""/>
    <meta name="viewport" content="width=640, initial-scale=0.5, minimum-scale=0.5, maximum-scale=0.5, user-scalable=no">
   <!-- <link rel="stylesheet" href="/common/css/public.css" th:href="@{/common/css/public.css}">
    <link rel="stylesheet" href="/default/member/css/sweep-info.css" th:href="@{/default/member/css/sweep-info.css}">
    <script type="text/javascript" src="/common/js/jquery.js" th:src="@{/common/js/jquery.js}"></script>
    <script type="text/javascript" src="/common/js/public.js" th:src="@{/common/js/public.js}"></script>-->
    <link rel="stylesheet" href="/default/member/css/sweep-info.css" th:href="@{/default/member/css/sweep-info.css}">
    <style>
    </style>
</head>
<body>
<!-- 头部开始-->
<div class="sweep-code">
    <div class="sweep-img">
        <img class="sweep-img-sty" src="/default/member/img/personCenter/success-tips.png" th:src="@{/default/member/img/personCenter/success-tips.png}">
    </div>
    <div class="sweep-tips">
        <h1 class="sweep-h1" th:text="${retMsg.success ? '扫码成功':'扫码失败'}"></h1>
        <p class="sweep-p"  th:text="${retMsg.success ? '积分将发至您账户，请及时查看':retMsg.msg}">！</p>
    </div>
</div>
<a href="/member/getExpenseAndScoreRecordData"  th:if="${retMsg.success}" class="check-integral-record">查看积分</a>
<a href="javascript:void(0)"  th:if="${!retMsg.success}" id="btn_back" class="check-integral-record">重试</a>
</body>
<script>
    $("#btn_back").click(function(){
        window.location.reload();
    });

</script>
</html>
