<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<link>
<meta th:include="common/header :: header('登陆')"></meta>
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
<link rel="stylesheet" href="/default/recommend/css/rec_login.css" th:href="@{/default/recommend/css/rec_login.css}">
</head>
<body style="background-color: #224d70;color: white">
<div class="page_container">
    <div class="top_logo_section">
        <img src="/default/user/img/personCenter/bottom_logo.png">
        <div class="top_title" style="color: white">欢迎登陆钇旺亿</div>
    </div>
    <div class="input_section" id="dataForm">
        <div class="input_name line">
            <input  type="hidden" id="url"  th:value="${url}"  >
            <input  maxlength="11"  onkeyup="this.value=this.value.replace(/[^0-9]/g,'')" onafterpaste="this.value=this.value.replace(/[^0-9]/g,'')"  type="text"id="recPhone" placeholder="请输入您的手机号">
        </div>
        <div class="input_verify line">
            <input type="text" id="code" maxlength="6"  onkeyup="this.value=this.value.replace(/[^0-9]/g,'')" onafterpaste="this.value=this.value.replace(/[^0-9]/g,'')"   placeholder="请输入验证码">
            <span class="get_verify_btn"  onclick="sendCode()" id="get_code">获取验证码</span>
        </div>
        <!--<div class="sign_btn active" onclick="user_login()">登陆</div>-->
        <button class="savebtn" onclick="user_login()" type="button" name="button">登陆</button>
    </div>
    <div class="agree_section">
        <span onclick="gotoRec()">不用登陆直接推荐</span>
    </div>
</div>

</body>
<script type="text/javascript" src="/default/recommend/js/rec_login.js" th:src="@{/default/recommend/js/rec_login.js}"></script>
</html>