<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=no">
    <title>我的推荐</title>
  <script type="text/javascript" src="/common/js/jquery.js" th:src="@{/common/js/jquery.js}"></script>
  <script type="text/javascript" src="/common/layer/layer.js" th:src="@{/common/layer/layer.js}"></script>
  <script type="text/javascript" src="/common/js/common.js" th:src="@{/common/js/common.js}"></script>
  <link rel="stylesheet" href="/default/recommend/css/common.css" th:href="@{/default/recommend/css/common.css}">
  <link rel="stylesheet" href="/default/recommend/css/page.css" th:href="@{/default/recommend/css/page.css}">
</head>
<body>
  <div class="pagethree">
    <div  th:if="${list.total > 0 }" class="title">
      <div>No.</div><div>推荐信息/处理情况</div>
    </div>
    <div th:if="${list.total == 0 }" class="title">
      <div>尚无推荐信息<span class="goto_rec">去推荐</span> </div>
    </div>
    <ul class="infoul">
      <li th:each="vo ,iterStat: ${list}">
        <div>
          <p th:text="${iterStat.index +1 }"></p>
          <span th:if="${vo.state == 1 }" th:onclick="'javascript:deleteById('+${vo.recId}+')'">删除</span>
        </div><div>
        <p style="color: black;" th:text="${vo.beRecName}+'&nbsp;'+${vo.beRecPhone}"></p>
        <p th:text="${vo.createTimeStr}"></p>
        <p class="borderp" style="color: #EC8B2F;"  th:text="${vo.stateStr}"></p>
        <p class="borderp" style="color: red" th:if="${vo.state == 5 }"th:text="'失败原因：'+${vo.failReason}"></p>
      </div>
      </li>

    </ul>
    <div th:replace="common/footer :: footer('rec')"></div>
  </div>
</body>
<script type="text/javascript" src="/common/js/big_index.js" th:src="@{/common/js/big_index.js}"></script>
<script type="text/javascript" src="/default/recommend/js/recommend_list.js" th:src="@{/default/recommend/js/recommend_list.js}"></script>
</html>
