<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width,initial-scale=0.5, minimum-scale=0.5, maximum-scale=0.5, user-scalable=no">
    <title>订单邮寄地址</title>
    <link rel="stylesheet" href="/default/mall/css/add_address.css">
    <script src="../../default/Index/js/jquery.js" th:src="@{/default/Index/js/jquery.js}"></script>
    <script type="text/javascript" src="/common/js/toast.js" th:src="@{/common/js/toast.js}"></script>
    <script  type="text/javascript"  src="/common/js/dialog.js" th:src="@{/common/js/dialog.js}"></script>
    <script type="text/javascript" src="/common/js/common.js" th:src="@{/common/js/common.js}"></script>
    <script type="text/javascript" src="/common/layer/layer.js" th:src="@{/common/layer/layer.js}"></script>
</head>
<body>
    <div class="page_main">
        <div class="receive_user_line b_c_flex">
            <div class="title">收货人</div>
            <input type="text" id="consignee" name="consignee" style="BACKGROUND-COLOR: transparent" th:value="${data?.ITEM_CONSIGNEE}"  placeholder="请填写">
            <input type="hidden"  th:value="${data?.id}" name="addrId" id="addrId">
            <input type="hidden" th:value="${act}" name="act" id="act">
            <input type="hidden" th:value="${itemHactId}" name="itemHactId" id="itemHactId">
        </div>
        <div class="receive_phone_line b_c_flex">
            <div class="title">手机号码</div>
            <input type="text" id="phone" style="BACKGROUND-COLOR: transparent"  name="phone" th:value="${data?.ITEM_CONSIGNEE_PHONE}"  placeholder="请填写">
        </div>
        <div class="receive_address_box">
            <div class="title">配送地址</div>
            <textarea name="address" id="address"  th:text="${data?.ITEM_CONSIGNEE_ADDR}"
             cols="30" rows="10" placeholder="请在此输入准确完整的配送地址，具体到街道门牌号信息，以确保礼品精准送达到您手中"></textarea>
        </div>
    </div>
    <div class="exchange" id="exchange">
        <a href="javascript:;" onclick="submit()" class="exchange_btn">提交地址</a>
    </div>
    
</body>
<script th:inline="javascript">
   var act=[[${act}]];
   var addrId=[[${addrId}]];
    window.onload = function () {
        /*按比例放大缩小*/
        var currClientWidth, fontValue, originWidth;originWidth = 750;//ui设计稿的宽度，一般750或640
        __resize();
        window.addEventListener('resize', __resize, false);
        function __resize() {
            currClientWidth = document.documentElement.clientWidth;
            if (currClientWidth > 768){
                currClientWidth = 768;
            }
            if (currClientWidth < 320){
                currClientWidth = 320;
            }
            fontValue = ((625 * currClientWidth) / originWidth).toFixed(2);
            document.documentElement.style.fontSize = fontValue + '%';
        }
    };
   // 弹窗内容
   function Msg(msg){
       var tipsInfo="";
       tipsInfo+="<samp style='font-size: 30px'>"+msg+"</samp>";
       layer.msg(tipsInfo);
   }
    function submit(){
    	var phone=$('#phone').val();
    	var address=$('#address').val();
    	var consignee=$('#consignee').val();
    	var addrId=$('#addrId').val();
    	var itemHactId=$('#itemHactId').val();
    	var act=$('#act').val();
        var data={
        		phone:phone,
        		address:address,
        		consignee:consignee,
        		addrId:addrId,
        		act:act
        }
        if(!data.consignee){
            Msg("请输入收货人");
            return false;
        }
        if(!data.phone){
            Msg("请输入手机号码");
            return false;
        }
        if(!data.address){
            Msg("请输入配送地址");
            return false;
        }
        $.ajax({
            url:"/mall/saveAddress",
            type: "post",
            dataType : 'json',
            contentType : "application/json",
            data : JSON.stringify(data),
            beforeSend: function () {
            },
            success: function (obj) {
                if(obj.code==1){
                    //location.href='/gift/exchange?address='+address+'&addrId='+addrId+'&phone='+phone+'&consignee='+consignee+'&itemHactId='+itemHactId
                	location.href=commonChangeDtUrl('/gift/exchange?itemHactId='+itemHactId);
                }else{
                    layer.msg(obj.msg)
                }
            },
            error: function (xhr, status, errorThrown) {
                console.log(errorThrown)
            }
        });
    }
</script>
</html>