<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta th:include="common/header :: header('确认兑换')"></meta>
    <link rel="stylesheet" type="text/css" href="/common/js/weui-1.1.2/dist/style/weui.css" th:href="@{/common/js/weui-1.1.2/dist/style/weui.css}">
    <link rel="stylesheet" type="text/css" href="/default/mall/css/exchange.css?dt=22212313" th:href="@{'/default/mall/css/exchange.css?dt='+${DT}}">
   <script>
       $(function(){
           if($(this).attr("href") && $(this).attr("href").indexOf("www.cnzz.com")>-1){
               $(this).hide();
           }
       });
   </script>
</head>
<body style="display: none;">
  <input type="hidden" id="historyRefresh" value="0">
  <form action="/gift/submitExchange" method="post">  
    <div class="page_main">
        <input type="hidden" th:value="${gift.itemHactId}" id="itemHactId" name="itemHactId">
        <div class="img_name top_line b_c_flex">
            <img th:src="${BASE_PIC_PATH+ gift.itemPicPath}"/>
            <div class="gift_name" th:text="${gift.itemGiftName}"></div>
        </div>
        <div class="pay_money pay_info_line b_c_flex" th:if="${gift.itemIfflag=='2'}">
            <div class="title">实付积分</div>
            <div class="money"><span id="UnitPrice" class="num" th:text="${gift.itemIntegral}"></span>积分</div>
        </div>
        <div class="pay_money pay_info_line b_c_flex" th:if="${gift.itemIfflag=='1'}">
            <div class="title">实付金额</div>
            <div class="money" id="itemPayMoney"></div>
        </div>
        <div class="pay_integral pay_info_line b_c_flex">
            <div class="title">实扣积分</div>
            <div class="integral"><span id="fact"  th:text="${realIntegral}">
            </span>积分</div>
        </div>
        <div class="my_integral pay_info_line b_c_flex">
            <div class="title">我的积分</div>
            <div class="my_integral_num" th:text="${memberInfo.totalEffectivePoints+'积分'}"></div>
        </div>
        <div class="surplus_integral pay_info_line b_c_flex">
            <div class="title">剩余积分</div>
            <div class="surplus_integral_num"><span id="last_num" class="num" th:text="${memberInfo.totalEffectivePoints -realIntegral}"></span>积分</div>
        </div>
        <div class="address pay_info_line b_c_flex" th:if="${gift.itemPostWay == '1'}">
            <div class="title" style="flex-shrink: 0;">邮寄地址 <span class="red_point"></span></div>
            <div class="edit_address_btn" id="edit_address_btn">
                <img src="/default/mall/images/edit.png" alt="请选择地址">
            </div>
        </div>
        <div class="receive_info" id="receive_info" th:if="${gift.itemPostWay == '1'}">
            <div class="name_phone_line a_c_flex">
                <div class="name" id="consignee"></div>
                <div class="phone" id="phone"></div>
            </div>
            <div class="address_detail" id="address"></div>
            <a href="#" id="addAddr" style="text-align:center;padding-bottom: 71px;">添加收货地址</a>
            <input type="hidden" value="" id="addrId" name="addrId">
        </div>
        <div class="remark_info">
            <textarea name="itemRemark" style="padding-top: 50px;" id="itemRemark" cols="30" rows="10" placeholder="如需选择礼品颜色、款式，请在此备注"></textarea>
        </div>
    </div>
  </form>
    <div class="exchange" id="exchange">
        <a href="javascript:;"  class="exchange_btn">提交订单</a>
    </div>

    <!--确认兑换弹框 s-->
    <div id="submit_mask">
        <div class="pop_container">
            <div class="title_line">
                <p th:text="${'即将消耗' +gift.itemIntegral +'积分' }" th:if="${gift.itemIfflag=='2'}"></p>
                <p id="itemPayMoneyTxt" th:if="${gift.itemIfflag=='1'}"></p>
         
                <p>兑换礼品,</p>
                <p>是否确定？</p>
            </div>
            <a  herf="##" th:attr="p-url=${'/gift/submitExchange?itemHactId='+ gift.itemHactId}"  class="submit_btn" id="submit_btn">确认提交</a>
        </div>
        <div class="close_mask_btn"><span class="close_btn">X</span></div>
    </div>
    <!--确认兑换弹框 e-->

    <!--提示遮罩2-->
    <div id="submit_mask2">
        <div class="pop_container2">
            <div class="title_line2">温馨提示</div>
            <div class="tips_container2">
                <p style="text-align:center;">您的问题已提交，请等待受理，如有疑问请拨打400-846-3636</p>
            </div>
            <div class="submit_btn2" onclick="close_mask2()">确定</div>
        </div>
    </div>
</body>
<script type="text/javascript" src="/common/js/jquery.js"></script>
<script type="text/javascript" src="/common/js/toast.js"></script>
<script src="/common/js/dialog.js"></script>
<script th:inline="javascript">
var postWay=[[${gift.itemPostWay}]];
var payFlg =[[${gift.itemIfflag}]];
var payMoney=[[${gift.itemPayMoney}]]+'元';
var all_list=[];
var flg = true;
window.onload = function () {
    /*按比例放大缩小*/
    var currClientWidth, fontValue, originWidth;originWidth = 750;//ui设计稿的宽度，一般750或640
    __resize();
    window.addEventListener('resize', __resize, false);
    function __resize() {
        currClientWidth = document.documentElement.clientWidth;
        if (currClientWidth > 768){
            currClientWidth = 768;
        }
        if (currClientWidth < 320){
            currClientWidth = 320;
        }
        fontValue = ((625 * currClientWidth) / originWidth).toFixed(2);
        document.documentElement.style.fontSize = fontValue + '%';
    }
    if(postWay==1){
    	init_post_address();
    }
    if(payFlg=='1'){
       $("#itemPayMoneyTxt").html(payMoney);
       $("#itemPayMoney").html(payMoney);
    }
    //取地址
    //var addrId=QueryString.addrId;
    //if(typeof(addrId)!="undefined"&&typeof(addrId)!=""){
	//	$('#addAddr').hide();
	//	$('#consignee').html(QueryString.consignee);
	//	$('#phone').html(QueryString.phone);
	//	$('#address').html(QueryString.address);
	//	$('#addrId').val(QueryString.addrId);
    //}
    $("body").show();
};
//加载邮寄地址
function init_post_address() {
    var dt=(new Date()).getTime();
    $.ajax({
        url: "/mall/listAddress?dt="+dt,
        type: "post",
        dataType: 'json',
        beforeSend: function () {
            layer.load(2);
        },
        success: function (obj) {
            layer.close(layer.index);
            if(obj.code=="1"){
                all_list=obj.data;
                parse_address();
            }else{
                alert(JSON.stringify(obj.data));
            }
        },
        error: function (xhr, status, errorThrown) {
            console.log(errorThrown)
        }
    });
}
//解析地址
function parse_address(){
	if(all_list.length>0){
		$('#addAddr').hide();
		$('#consignee').html(all_list[0].ITEM_CONSIGNEE);
		$('#phone').html(all_list[0].ITEM_CONSIGNEE_PHONE);
		$('#address').html(all_list[0].ITEM_CONSIGNEE_ADDR);
		$('#addrId').val(all_list[0].id);
	    $('#edit_address_btn').click(function(){
	        location.href=commonChangeDtUrl('/mall/addAddress?act=edit&addrId='+all_list[0].id+'&itemHactId='+[[${gift.itemHactId}]]);
	    });
	}else{
		$('#addAddr').show();
		$('#edit_address_btn').hide();
	    $('#receive_info').click(function(){
	        location.href=commonChangeDtUrl('/mall/addAddress?act=add&itemHactId='+[[${gift.itemHactId}]]);
	    });
	}
}
    
    $('.exchange_btn').click(function(){
    	 if(payFlg=="2"){
            if(parseFloat($("#last_num").html())<0){
                $('.tips_container2 p').html("您的积分余额不足以兑换该礼品哦");
                $('#submit_mask2').show();
                $('.submit_btn2').click(function () {
                    $('#submit_mask2').hide();
                })
                return;
            }
            if(parseFloat($("#fact").html())<0){
                $('.tips_container2 p').html("很抱歉,数据出现异常");
                $('#submit_mask2').show();
                $('.submit_btn2').click(function () {
                    $('#submit_mask2').hide();
                })
                return;
            }
            if(parseInt($("#UnitPrice").text())==0){
                //需要兑换的积分为0 直接提交
                window.location.href = commonChangeDtUrl('/gift/submitExchange?itemHactId='+[[${gift.itemHactId}]]);
            }
    	 }
        if(postWay==1 && !$(".address_detail").text()){
            $('.tips_container2 p').html("请完善您的邮寄地址哦");
            $('#submit_mask2').show();
            $('.submit_btn2').click(function () {
                $('#submit_mask2').hide();
            })
            return;
        }
    	 if (flg) {// 防止重复提交，提交一次即可
    	   $('#submit_mask').show();
    	 }
    });

    $("#submit_btn").click(function(){
        layer.load(2);
    	if(flg){
            flg=false;
            if(payFlg=="1"){//金额支付
            	go_pay_page();
            }else {
            	$("form").submit();
            }
    	}
        //location.href=commonChangeDtUrl($(this).attr("p-url"));
    });

    $("#itemRemark").focus(function(){
        $(".page_main .remark_info textarea").css("text-align","left");
    });

    $("#itemRemark").mouseleave(function(){
        if($("#itemRemark").val()){
            return;
        }
        $(".page_main .remark_info textarea").css("text-align","center");
    });


    $('.close_btn').click(function(){
        $('#submit_mask').hide();
        flg=true;
    });
    
    function go_pay_page() {
        var data={
        	"addrId":$("#addrId").val(),
        	"itemRemark":$("#itemRemark").val(),
            "itemHactId":$('#itemHactId').val()
        }
    $.ajax({
        url: "/gift/toPay",
        type: "post",
        data:JSON.stringify(data),
        dataType: 'json',
        contentType : "application/json",
        beforeSend: function () {
        	layer.load(2);
        },
        success: function (obj) {
        	layer.close(layer.index);
            if(obj.code==0){
                alert(obj.msg)
            }else{
                location.href=obj.url
            }

        },
        error: function (xhr, status, errorThrown) {
            console.log(errorThrown)
        }
    });
  }
</script>
</html>