<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head >

    <meta th:include="common/header :: header('积分商城')"></meta>
    <link rel="stylesheet" href="/default/mall/css/index.css" th:href="@{'/default/mall/css/index.css?dt='+${DT}}">

    <script src="/default/mall/js/func.js" th:src="@{'/default/mall/js/func.js?dt='+${DT}}"></script>
    <script src="/default/mall/js/index.js" th:src="@{'/default/mall/js/index.js?dt='+${DT}}"></script>
</head>
<body>

<div id="top_section">
    <div class="user_info">
        <img th:src="${headimgUrl == '' ? '/default/Index/img/integral/sdw.png': headimgUrl }" >
        <div class="current_integral" th:if="${memberInfo!=null}">当前积分 <span th:text="${memberInfo!=null ? memberInfo.totalEffectivePoints: 0}"></span></div>
        <div class="current_integral" th:if="${memberInfo ==null}">未登录</div>
    </div>
    <div class="exchange_record" id="exchange_record"><img src="/default/Index/img/integral/to_record.png" 
    th:src="@{/default/Index/img/integral/to_record.png}"></div>
</div>
<div id="page_container">
    <div style="width:100%;">
        <div id="pullDown">
            <span class="pullDownLabel"></span>
        </div>
    <div id="integral_sec">
        <div class="container">
            <div class="title">
                <img src="/default/Index/img/integral/zs.png"  th:src="@{/default/Index/img/integral/zs.png}">
                <span>积分 · 秒杀</span>
            </div>
            <div class="left_time_line">
                           还剩 <span id="hours">--</span> : <span id="minute">--</span> : <span id="second">--</span> 开始 
            </div>
            <div class="sec_goods_box">
                <div class="sec_goods_item" th:each="item: ${secList}">
                    <a th:href="${'/seckill/productDetail?hproduct_id='+item.ITEM_HPRODUCT_ID}">
                    <img th:src="${BASE_PIC_PATH+item.ITEM_PRODUCT_MAP}">
                    </a>
                    <div class="goods_name" th:text="${item.ITEM_PRODUCT_NAME}"></div>
                    <div class="sec_goods_price" th:text="${#numbers.formatInteger(item.ITEM_INTEGRAL,0)+'积分'}"></div>
                </div>
                <div class="to_more_sec">
                    <div class="to_more_btn">
                       <a href="/seckill/index"> 查看<br/>更多</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div id="navigation_box">
    <div class="slider_navigation">
        <div class="slider_bar gifts active">实物礼品</div>
        <div class="slider_bar tickets">电子券</div>
        <input type="hidden" value="1" id="type">
        <input type="hidden" value="1" id="can_switch">
    </div>
    <div class="screen_box">
        <div class="show_city_mask">
            <div class="city_screen">
                <span style="margin-right:5px">城市</span>
                <input type="hidden" id="city_name" value="">
                <img style="margin-bottom: 4px;" src="/default/Index/img/integral/ff5.png" th:src="@{/default/Index/img/integral/ff5.png}"
                     alt="/default/Index/img/integral/down.png" th:alt="@{/default/Index/img/integral/down.png}">
            </div>
        </div>
        <div class="show_sort_mask">
            <div class="sort_screen">
                <span style="margin-right:5px">排序</span>
                <input type="hidden" id="sort" value="3">
                <img src="/default/Index/img/integral/ff5.png" th:src="@{/default/Index/img/integral/ff5.png}"
                     alt="/default/Index/img/integral/down.png" th:alt="@{/default/Index/img/integral/down.png}">
            </div>
        </div>
        <div class="search-btn">
            <span class="search" id="search">
                <img src="/default/Index/img/integral/ds.png" th:src="@{/default/Index/img/integral/ds.png}">
                <span>搜索</span>
            </span>
        </div>
    </div>
	    <!--排序筛选遮罩-->
	<div class="screen_mask" id="sort_screen_mask">
	    <div class="sort_screen_list">
	        <div class="sort_screen_item" sort_id="1"  sort_by = "a.item_Integral|asc">积分从低到高</div>
	        <div class="sort_screen_item" sort_id="2"   sort_by = "a.item_Integral|desc">积分从高到低</div>
	        <div class="sort_screen_item" sort_id="3"  sort_by = "b.item_BeginDate|desc">上架时间</div>
	        <div class="sort_screen_item" sort_id="4" sort_by = "b.item_BeginDate|asc">剩余时间</div>
	     </div>
	</div>
	<!--城市筛选遮罩-->
	<div class="screen_mask" id="city_screen_mask">
	    <div class="city_screen_box" id="city_screen_box">
	        <div class="container" style="width: 100%">
	            <div class="activity all_city" onclick="click_all_city(this)">全国</div>
	            <div  class="city_item"  onclick="click_city_item(this)"   th:each="item :${citys}"   th:name="${item.ITEM_CITY_NAME}"  th:text="${item.ITEM_CITY_NAME}" ></div>
	        </div>
	    </div>
	</div>
   </div>
   <div id="gifts_container">
            <div id="thelist">
            </div>
    </div>
        <div id="pullUp">
            <span class="pullUpLabel"></span>
        </div>
    </div>
</div>
<input type="hidden" id="page" value="integral">
<!--底部导航-->
<div th:replace="common/footer :: footer('integral')"></div>
<div th:replace="common/common :: loading"></div>
</body>
<script th:inline="javascript">

    var giftUrl="/gift/list?pageSize=6&itemSurplusQuantity=0";
    var couponUrl = "/preferentialCard/list?pageSize=6&itemSurplusQuantity=0";
    var hasSec=[[${hasSec}]];
    var city_scroll;
    var pageNo = 1,sortBy = '',orderStr='';
    var paramType = [[${param.type != null? param.type[0] : ""}]],basePicPath=[[${BASE_PIC_PATH}]];
    var city = [[${city != null? city : "0"}]];
    var secNum=[[${secNum}]];


</script>
</html>