body,html{wdith:100%;padding-bottom:50px;}
.top{margin:0;width:100%;height:50px;background:#cf4646;color:#fff;}
.top .weui-media-box__desc{color:#fff;font-size:15px;margin-bottom: 0;margin-top:0;}
.head{width:48px;margin-right:10px;display:block;border-radius: 100%;border: 1px solid #e47e7e;}
.top .weui-media-box_text{padding: 2px;}
.top .weui-media-box_text:before{border-top: none;}
.weui-cell__bd h5{font-size: 17px;}
.weui-cells{margin-top: 0;}
.weui-cell_access:active{background: #cf4646;}
.weui-cell__bd h5{font-size: 16px;font-weight: 300;}
.weui-media-box__title{margin-bottom: 0;line-height:20px;}

/*顶部用户信息 s*/
div{
    box-sizing: border-box;
}
.top_info_box{
    display: flex;
    display: -webkit-box;
    display: -webkit-flex;
    align-items: center;
    -webkit-align-items: center;
    height: 110px;
    background: #D14E46;
    padding-left: 30px;
    color: #fff;
}
.top_info_box .user_img{
    width: 75px;
    height: 75px;
    border-radius: 50%;
    margin-right: 15px;
    border: 4px solid rgba(255,255,255,0.6);
    overflow: hidden;
    background: #fff;
}
.top_info_box .user_info_box{
    height: 80px;
    display: flex;
    display: -webkit-box;
    display: -webkit-flex;
    flex-direction: column;
    -webkit-flex-direction: column;
    padding-top: 5px;
}
.top_info_box .user_name{
    font-size: 30px;
    line-height: 30px;
    margin-bottom: 15px;
}
.top_info_box .integral_desc{
    font-size: 24px;
    line-height: 24px;
}
.top_info_box .integral_desc .have_get{
    margin-right: 30px;
}
/*顶部用户信息 e*/
/*顶部用户信息 s*/
.record_list{
    padding: 0 35px;
}
.record_item{
    display: flex;
    display: -webkit-box;
    display: -webkit-flex;
    justify-content: space-between;
    -webkit-justify-content: space-between;
    align-items: center;
    -webkit-align-items: center;
    color: #333;
    height: 130px;
    border-bottom: 1px solid #ddd;
}
.record_item .get_name{
    font-size: 30px;
    line-height: 30px;
    margin-bottom: 20px;
}
.record_item .get_time{
    font-size: 24px;
}
.record_item .integral{
    font-size: 24px;
}
/*顶部用户信息 e*/