body,html{
    height:100%;
    width:100%;
    line-height: normal;
}
*{
    box-sizing: border-box;
}
.page{
    min-height:100%;
    width:100%;
    text-align: center;
    background: url('/common/images/bg.jpg') center no-repeat;
    background-size:100% 100% ;
    /*background-position:fixed ;*/
}
.title{
    display: inline-block;
    margin: 0 auto;
    width: 190px;
    height: 25px;
}
.welcome{
    width: 65%;
    display: inline-block;
    margin-top:44px;
    height: 30px;
    margin-bottom: 35px;
}
.weui-cell{
    padding:20px 0 ;
    /*border-bottom: 1px solid #e5e5e5;*/
    position: inherit
}
.clear_line{
    height: 1px;
    background: #e5e5e5;
    width: 100%;
    transform:scaleY(1);
}
.clear_null{
    height: 1px;
    width: 100%;
    transform:scaleY(1);
}
.page__bd{
    width: 100%;
    padding:0 30px
}
.weui-cell__ft{padding:0 10px;border: 1px solid #db4a45;background: #fff;}
.weui-cell__bd .weui-input{text-indent: 10px; font-size: 13px;line-height: 35px;height: 35px}
.weui-btn_warn{border-radius: 60px;margin-top:30px;margin-bottom: 20px;}
.weui-cell__ft{color:#E64340;}

/*注册按钮 s*/
.go_register{
    display: block;
    background:#D6403F;
    border-radius: 50px;
    font-size: 16px;
    color: #fff;
    width: 100%;
    height: 45px;
    line-height: 45px;
    text-align: center;
    box-shadow: 1px 4px 20px rgba(191,73,59,0.3);
    margin: 0 auto;
    letter-spacing: 2px;
}
/*注册按钮 e*/
/*二维码弹窗s */
.my-ewm-bg{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #0B0202;
    opacity: 0.6;
    z-index: 99999;
}
.my-ewm-box{
    display: none;
    position: fixed;
    top: 15%;
    left: 6%;
    width: 88%;
    height: 60%;
    border-radius: 5px;
    background: url("/default/member/img/personCenter/icon-dialog-bg.png") no-repeat;
    background-size: 100% 100%;
    overflow: hidden;
    z-index: 999999;
}
.ewm-main{
    position: absolute;
    width: 100%;
    height: 100%;
    font-size: 26px;
}
.ewm-img{
    text-align: center;
    padding: 5%;
    width: 100%;
    height: 80%;
    box-sizing: border-box;
    border: 2px solid #B5B6B8;
    overflow: hidden;
}
.ewm-img-size{
    width: 100%;
    height: 100%;

}
.p-center{
    height:20%;
    text-align: center;
    font-size: 30px;
    color: #6A5858;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.p-center-sty{
    font-size: 24px;
    line-height:30px;
    color:#fff;
}
.ewm-img-size-opy{
    position: fixed;
    width: 100%;
    height: 83%;
    top: 20%;
    left: 20px;
    z-index: 99999;
    opacity: 0;
}
.vip-tips-main{
    padding: 10px 20px;
    background-color: #fff;
}
.vip-tips-main img{
    width: 100%;
    text-align: center;
    vertical-align: middle;
}
/*二维码弹窗e*/

/*我的二维码 s*/
.qrcode_mask{
    display: none;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.5);
    z-index: 999;
}
.qrcode_mask .qrcode_box{
    margin:0 auto;
    width: 72%;
    margin-top:25%;
    background: #fff;
    border-radius: 7px;
}
.qrcode_mask .qrcode_box .title{
    width: 100%;
    background: url("/default/Index/img/bg_tittle.png") no-repeat;
    background-size: 100% 100%;
    height:69px ;
    font-size: 16px;
    color: #fff;
    line-height: 69px;
    padding-left: 15px;
    letter-spacing: 1px;
}
.qrcode_mask .qrcode_box .qrcode_container{
    width: 100%;
    background: #fff;
    padding: 25px;
    border-radius: 0 0 7px 7px;
}
.qrcode_mask .qrcode_box .qrcode_container .img_box{
    width: 170px;
    padding: 12px;
    margin: 0 auto;
    border-radius:10px;
    border: 1px solid #999;
    background: url("/default/member/img/personCenter/icon-dialog-bg.png") no-repeat;
    background-size: 100% 100%;
    margin-bottom: 10px;
}
.qrcode_mask .qrcode_box .qrcode_container .img_box img{
    width: 145px;
    height: 145px;
}
.qrcode_mask .qrcode_box .qrcode_container .code_num,.qrcode_mask .qrcode_box .qrcode_container .tips{
    width: 100%;
    text-align: center;
    font-size: 12px;
    color: #333;
    margin-bottom: 7px;
}
.qrcode_mask .close_btn{
    color: #fff;
    font-size: 19px;
    text-align: center;
    margin-top: 20px;
    line-height: 25px;
}
.qrcode_mask .close_btn span{
    display: inline-block;
    width: 25px;
    height: 25px;
}
/*我的二维码 e*/

/*确认提交遮罩 s*/
#submit_mask{
    display:none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding-top: 50%;
    background: rgba(0,0,0,0.5);
    z-index: 300;
}
#submit_mask .pop_container{
    width: 72%;
    margin: 0 auto;
    background: #fff;
    border-radius: 8px;
    text-align: center;
    padding-bottom: 25px;
}
#submit_mask .pop_container .title_line{
    text-align: left;
    background: url("/default/Index/img/bg_tittle.png") no-repeat;
    background-size: 100% 100%;
    font-size: 0.3rem;
    color: #fff;
    height:1.45rem;
    line-height: 1.45rem;
    padding-left: 0.45rem;
}
#submit_mask .pop_container .tips_container{
    padding: 0.2rem 0.3rem 0.24rem 0.3rem;
    font-size:0.28rem;
    color: #333;
    line-height: 0.32rem;
    text-align: center;
}
#submit_mask .pop_container .submit_btn{
    display: inline-block;
    height: 0.56rem;
    line-height: 0.56rem;
    font-size: 0.28rem;
    background: #db4a45;
    color: #fff;
    width: 50%;
    margin: 0;
    border-radius: 1rem;
    padding: 0;
    border: none;
}
#submit_mask .close_mask_btn{
    width: 100%;
    text-align: center;
    font-size: 0.4rem;
    color: #fff;
    margin-top:0.3rem;
}
/*确认提交遮罩 e*/
/*加载弹框 s*/
#loading_gif{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    z-index: 999;
}
#loading_gif_container{
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    justify-content: center;
    -webkit-justify-content: center;
    align-items: center;
    -webkit-align-items: center;
    width: 100%;
    height: 100%;
}
#loading_gif img{
    width: 60px;
    height: 60px;
}
/*加载弹框 e* /

/*提示弹框 s*/
#tips_pop_container{
    width: 100%;
    height: 100%;
    position: fixed;
    top:0;
    left:0;
    padding-top: 65%;
    text-align: center;
    display: none;
}
#tips_pop_container span{
    display: inline-block;
    background: rgba(0,0,0,0.5);
    color: #fff;
    font-size: 15px;
    height: 28px;
    line-height: 28px;
    padding: 0 10px;
    border-radius: 3px;
}
/*提示弹框 e*/


.top_logo_section{
    width: 100%;
    padding: 0.6rem 0 0.5rem;
    text-align: center;
    font-size: 0.6rem;
    color: #000;
}
.top_logo_section img{
    width: 2.0rem;
    margin-bottom: 0.1rem;
}

.input_section{
    width: 100%;
    padding: 0 0.8rem;
    position: relative;
}
.input_section .line{
    border-bottom: 0.01rem solid #3c3c3c;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 1.1rem;
}
.input_section .input_city,.input_section .input_verify{
    justify-content: space-between;
}
.input_section .input_city img{
    width: 0.2rem;
}
.input_section .input_city .city_container{
    display: none;
    position: absolute;
    left: 0;
    right: 0;
    top: 2.98rem;
    background: #fff;
    z-index: 10;
    box-shadow:4px 4px 140px rgba(0,0,0,0.3) ;
    padding:0.1rem 0 0.3rem;
}
.input_section .input_city .city_container .city_box .city_list{
    height: 2.4rem;
    overflow-y: auto;
    -webkit-overflow-scrolling:touch;
}
.input_section .input_city .city_container .city_box .city_list{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.input_section .input_city .city_container .city_box .city_item{
    font-size: 0.26rem;
    color: #7a7a7a;
    width: 33%;
    text-align: center;
    height: 0.8rem;
    line-height: 0.8rem;
}
.input_section .input_city .city_container .city_bottom_line{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 0.3rem;
}
.input_section .input_city .city_container .city_bottom_line span{
    flex: 1;
    -webkit-flex: 1;
    text-align: center;
    font-size: 0.26rem;
    color: #787878;
}
.input_section .input_city .city_container .city_bottom_line .show_add_city_input{
    color: #d44240;
}
.input_section input{
    border: none;
    font-size: 0.28rem;
    color: #797979;
    outline: none;
    height: 1.07rem;
    padding: 0.35rem 0;
    background: transparent;
}
.input_section input::-webkit-input-placeholder {
    font-size: 0.28rem;
    color: #797979;
}
.input_section span{
    font-size: 0.28rem;
    color: #797979;
}
.input_section .input_verify input{
    flex: 1;
    -webkit-flex: 1;
    width: 2.8rem;
}
.input_section .get_verify_btn{
    color: #ca544b;
    font-size: 0.26rem;
    text-align: center;
    flex-shrink: 0;
    -webkit-flex-shrink: 0;
    border: 1px solid #ca544b;
    border-radius: 0.05rem;
    text-align: center;
    height: 0.6rem;
    line-height: 0.6rem;
    padding: 0 0.3rem;
}
.sign_btn{
    margin-top: 0.8rem;
    width:100%;
    color: #fff;
    height: 0.9rem;
    line-height: 0.9rem;
    font-size: 0.34rem;
    text-align: center;
    border-radius: 0.9rem;
    background: #c3c3c3;
}
.sign_btn.active{
    background: #ed5850;
}
.agree_section{
    margin-top: 0.5rem;
    font-size: 0.22rem;
    display: flex;
    display: -webkit-flex;
    align-items: center;
    -webkit-align-items: center;
    justify-content: center;
    -webkit-justify-content: center;
    text-align: center;
    width: 100%;
    color: #000;
    margin-bottom: 0.5rem;
}
.agree_section img{
    width: 0.26rem;
    margin-right: 0.1rem;
}
.agree_section span{
    font-size: 0.26rem;
    color: #ea4744;
}
.bottom_zs{
/*    background: url("/default/user/img/personCenter/bottom_logo.png") no-repeat center;*/
    background-size: auto 100%;
    width: 100%;
    padding-bottom: 45%;
}
