*{
    margin: 0;
    padding: 0;
}
body, button, input, select, textarea {
    /* for ie */
    font: 12px/18px Microsoft YaHei,Arial, Verdana;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
img{
    vertical-align: middle;
}
.clearfix:after{
    display: block;
    content: '';
    height: 0;
    clear: both;
    visibility: hidden;
    overflow: hidden;
}
.clearfix{
    zoom: 1;
}
.left{
    float: left;
}
.right{
    float: right;
}

