body{
    background-color: #f6f5f5;
}
body>a{
    display: none;
}
.member-title{
    background-color: #fff;
    padding: 25px 0;
    margin-top: 25px;
}

.member-header-msg{
    padding: 8px 0;
}
.member-msg-left,.member-msg-right{
    width: 240px;
    height: 160px;
    overflow: hidden;
    text-align: center;
}
.member-msg-right{
    text-align: right;
}
.member-name-big-size{
    font-size: 32px;
    font-weight: bold;
    height: 45px;
    line-height: 45px;
    margin-top: 35px;
}
.member-name-small-size{
    font-size: 28px;
    height: 40px;
    line-height: 40px;
}
.member-msg-mid{
    width: 160px;
    height: 160px;
    overflow: hidden;
    text-align: center;
}
.member-mid-header{
    width: 130px;
    height: 130px;
    border-radius: 50%;
    margin-top: 15px;
}
.p-limit-width{
    width: 240px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.member-user-name{
    width: 100%;
    height: 35px;
    line-height: 35px;
    text-align: center;
    font-size: 30px;
    margin-bottom: 10px;
}
.name-icon{
    display: inline-block;
    text-decoration: none;
    max-width: 360px;
    height: 35px;
    color: #fff;
    overflow: hidden;
    background: url("/default/member/img/personCenter/icon-change-person-msg.png") right 0 no-repeat;
    background-size: 30px;
    padding-right: 35px;
}
.member-card-no{
    height: 30px;
    line-height: 30px;
    text-align: center;
    font-size: 26px;
    color: #fff;
}
.slide-a{
    display: inline-block;
    width: 197px;
    height: 115px;
    text-align: center;
    margin-right: 23px;
    text-decoration: none;
    color: #494a4d;
}
.slide-a:active,.slide-a:link{
    color: #494a4d;
}
.slide-a:nth-child(3n){
    margin-right: 0;
}
.slide-img-box{
    width: 197px;
    height: 65px;
    line-height: 65px;
    text-align: center;
}
.icon-size{
    width: 65px;
    height: 65px;
    overflow: hidden;
}
.icon-p{
    font-size: 24px;
    width: 197px;
    height: 30px;
    line-height: 30px;
    overflow: hidden;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-top: 15px;
}
.member-recorder{
    /*width: 100%;*/
    margin-bottom: 220px;
    background-color: #fff;
    border-radius: 30px;
    margin-left: 20px;
    margin-right: 20px;
    padding-bottom: 40px;
}
.member-recorder-title{
    margin-top: 24px;
    padding: 40px;
    font-size: 36px;
    padding: 30px;
    color: #666666;
    text-align: center;
    border-bottom: 1px solid #ccc;
}
.member-sp{
    display: inline-block;
    text-decoration: none;
    font-size: 24px;
    /*height: 55px;*/
    /*line-height: 55px;*/
    color: #333;
}
.ft-size-22{
    font-size: 22px;
    color: #B1AEAE;
}
.ft-size-26{
    font-size: 28px;
    color: #333333;
}
/*.recorder-list li{
    width: 100%;
    box-sizing: border-box;
    margin: 0 auto;
    font-size: 20px;
    margin-bottom: 41px;
    !*border-bottom: 1px solid #ccc;*!
    !*padding: 40px 30px 40px 40px;*!
}*/
.recorder-list li{
    width: 100%;
    box-sizing: border-box;
    margin: 0 auto;
    font-size: 20px;
    margin-bottom: 41px;
    display: flex;
    justify-content: space-between;
}

.status-msg{
    width: 420px;
}
.status-time{
    width: 120px;
    text-align: right;
    height: 30px;
    line-height: 30px;
    font-size: 34px;
    margin-top: 20px;
    margin-bottom: 20px;
    color: #c53931;
}
.status-name,.status-name-date{
    height: 35px;
    line-height: 35px;
    width: 420px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.status-name-date{
    color: #918E8E;
    font-size: 24px;
    padding-top: 12px;
}
.member-recorder .more_lev{
    height: 45px;
    width: 148px;
    font-size: 22px;
    color: #de5353;
    align-items: center;
    text-align: center;
    border: 1px solid #de5353;
    border-radius: 22px;
    padding: 11px 22px;
    margin-left: 40%;
    margin-top: 41px;
    line-height: 22px;
}
.icon-scan-my-ewm{
    display: inline-block;
    width: 50px;
    height: 50px;
    background: url("/default/member/img/personCenter/icon-ewm.png") center no-repeat;
    padding-right: 60px;
    padding-top: 50px;
}
.vip-lev{
    background-color: #fff;
    padding-left: 20px;
}
.vip-lev-name{
    width: 385px;
    height: 75px;
    line-height: 75px;
}
.vip-lev-sp{
    display: inline-block;
    font-size: 28px;
}
.mr-right{
    margin-right: 15px;
}
.lev-up-box{
    padding: 12.5px 30px 12.5px 0;
    margin-right: 20px;
    background: url("/default/member/img/personCenter/icon-right-arrow.png") right no-repeat;
}
.lev-up-box2{
    padding: 12.5px 30px 12.5px 0;
    margin-right: 20px;
}
.lve-up-btn{
    display: inline-block;
    text-decoration: none;
    text-align: center;
    height: 50px;
    line-height: 50px;
    background-color: #c82128;
    border-radius: 10px;
    color: #fff;
    font-size: 24px;
    padding: 0 5px;
}


/*顶部会员卡 s*/
div,span{
    box-sizing: border-box;
}
a{text-decoration:none}
.member-main{
    padding-bottom: 95px;
}
.member-header{
    position: relative;
    width: 100%;
    height: 546px;
    padding-top: 30px;
    background: #dfdfdf;
    /*background: url("/default/member/img/personCenter/icon-center-bg.jpg") center no-repeat;
    background-size: 100% 265px;*/
}
.lev-card-img{
    position: absolute;
    top: 0;
    right: 0;
    height: 546px;
    width: 100%;
    overflow: hidden;
    z-index: 1;
}
.member-header .top_line{
    width: 100%;
    display: flex;
    display: -webkit-box;
    display: -webkit-flex;
    justify-content: space-between;
    -webkit-justify-content: space-between;
    align-items: center;
    -webkit-align-items: center;
    padding: 0 30px;
    margin-bottom:20px;
    position: relative;
    z-index: 10;
}
.member-header .top_line .vip_help{
    font-size: 24px;
    color: #444;
    display: flex;
    display: -webkit-box;
    display: -webkit-flex;
    justify-content: flex-start;
    -webkit-justify-content: flex-start;
    align-items: center;
    -webkit-align-items: center;
}
.member-header .top_line .vip_help img{
    margin-right: 13px;
    width: 38px;
    height: 38px;
}
.member-header .top_line .vip_help span{
    line-height: 38px;
    height: 38px;
}
.member-header .qrcode_section{
    display: flex;
    display: -webkit-box;
    display: -webkit-flex;
    justify-content: flex-end;
    -webkit-justify-content: flex-end;
    align-items: center;
    -webkit-align-items: center;
}
.member-header .qrcode_section span{
    margin-right: 30px;
    padding: 7px 20px;
    border: 2px solid #777675;
    color: #777675;
    font-size: 22px;
    /* font-weight: bold; */
    border-radius: 5px;
    white-space: nowrap;
}
.member-header .card_section{
    width: 100%;
    height: 346px;
    color: #fff;
    position: relative;
    z-index: 10;
    margin-top: 59px;
    margin-bottom: 77px;
}
.member-header .card_section .img_box{
    width: 100%;
    height: 346px;
    position: absolute;
    /*margin: 0px 100px;*/
    text-align: center;
}
.member-header .card_section .card_bg{
    width: 552px;
    height: 346px;
}
.member-header .card_section .info_section{
    margin: 0 auto;
    height: 100%;
    width: 552px;
    padding: 0 22px 0 63px;
    position: relative;
    border-radius: 24px;
}
.member-header .card_section .info_section .change_name{
    display: flex;
    display: -webkit-flex;
    justify-content: flex-end;
    -webkit-justify-content: flex-end;
    padding-top: 20px;
}
.member-header .card_section .info_section .user_line{
    display: flex;
    display: -webkit-box;
    display: -webkit-flex;
    justify-content: flex-start;
    -webkit-justify-content: flex-start;
    align-items: center;
    -webkit-align-items: center;
    font-size: 34px;
    color: #ffffff;
    padding-top: 15px;
    margin-bottom: 40px;
}
.member-header .card_section .info_section .user_line .user_name{
    font-size: 26px;
    color: #ffffff;
}
.member-header .card_section .info_section .user_line .header_img{
    width: 98px;
    height: 98px;
    border-radius: 50%;
    margin-right: 22px;
}
.member-header .card_section .info_section .card_line{
    width: 100%;
    display: flex;
    display: -webkit-box;
    display: -webkit-flex;
    justify-content: flex-start;
    -webkit-justify-content: flex-start;
    align-items: center;
    -webkit-align-items: center;
    font-size: 24px;
    color:#fff;
    height: 38px;
    line-height: 38px;
    margin-bottom: 30px;
}
.member-header .card_section .info_section .card_line .card_type{
    width: 98px;
    text-align: center;
}
.member-header .card_section .info_section .card_line .integral{
    display: flex;
    display: -webkit-box;
    display: -webkit-flex;
    justify-content: flex-start;
    -webkit-justify-content: flex-start;
    align-items: center;
    -webkit-align-items: center;
    flex:1;
    -webkit-flex:1;
    padding-left: 145px;
}
.member-header .card_section .info_section .card_line .integral .num{
    font-size: 30px;
    margin-left: 19px;
    height: 32px;
    line-height: 32px;
}
.member-header .card_section .info_section .logo_line{
    display: flex;
    display: -webkit-box;
    display: -webkit-flex;
    justify-content: flex-end;
    -webkit-justify-content: flex-end;
    align-items: center;
    -webkit-align-items: center;
    margin-bottom: 30px;
    padding-right: 2px;
}
.member-header .card_section .info_section .logo_line img{
    height: 30px;
}
/*顶部会员卡 e*/

/*二维码弹窗*/
.my-ewm-bg{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #0B0202;
    opacity: 0.6;
    z-index: 100;
}
.my-ewm-box{
    display: none;
    position: fixed;
    top: 15%;
    left: 129px;
    width: 492px;
    height: 580px;
    border-radius: 5px;
    background: url("/default/member/img/personCenter/icon-dialog-bg.png") no-repeat;
    z-index: 100;
}
.ewm-btn-close{
    display: inline-block;
    position: absolute;
    top: 10px;
    right: 10px;
    width: 55px;
    height: 55px;
    z-index: 99;
    background: url("/default/member/img/personCenter/icon-close.png") center no-repeat;
}
.ewm-main{
    position: absolute;
    width: 402px;
    top: 85px;
    left: 46px;
    font-size: 26px;
}
.ewm-img{
    text-align: center;
    margin: 20px 0;
    height: 300px;
}
.ewm-img-size{
    width: 256px;
    height: 256px;
    overflow: hidden;
    border: 2px solid #B5B6B8;
    padding: 20px;
}
.p-center{
    text-align: center;
    height: 35px;
    line-height: 35px;
    font-size: 30px;
    color: #6A5858;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
/*认证和绑定 s*/
/*.b_right{*/
/*border-right: 1px solid #cbcbcb;*/
/*}*/
.top_navigation{
    width: 100%;
    display: flex;
    display: -webkit-box;
    display: -webkit-flex;
    align-items: center;
    -webkit-align-items: center;
    justify-content: center;
    -webkit-justify-content: center;
    height: 108px;
    background: #fff;
    margin-bottom: 34px;
}
.top_navigation .vip_ident,.top_navigation .house_bind{
    height: 100%;
    line-height: 60px;
    width: 50%;
    display: flex;
    display: -webkit-box;
    display: -webkit-flex;
    justify-content: center;
    -webkit-justify-content: center;
    align-items: center;
    -webkit-align-items: center;
    font-size: 30px;
    color: #000;
    background: url("/default/member/img/personCenter/bg_bj.png");
    background-size: 100%;
}
.top_navigation img{
    width: 64px;
    margin-right: 20px;
}
/*认证和绑定 e*/

/*我的礼品相关 s*/
.m_bottom{
    margin-bottom: 116px;
}
.my_navigation{
    background: #fff;
    /*width: 100%;*/
    padding: 45px 0;
    height: 100%;
    margin-bottom: 24px;
    border-radius: 5px;
    margin-left: 20px;
    margin-right: 20px;
}
.my_navigation .item_line{
    display: flex;
    display: -webkit-box;
    display: -webkit-flex;
    justify-content: flex-start;
    -webkit-justify-content: flex-start;
    align-items: center;
    -webkit-align-items: center;
    height: 90px;
    width: 100%;
}
.my_navigation .item_line a{
    flex: 1;
    -webkit-flex: 1;
    color: #333;
    height: 72px;
}
.my_navigation .item_line .btn_item{
    width: 100%;
    display: flex;
    display: -webkit-box;
    display: -webkit-flex;
    justify-content: space-between;
    -webkit-justify-content: space-between;
    align-items: center;
    -webkit-align-items: center;
    flex-direction: column;
    -webkit-flex-direction: column;
    height: 72px;
}
.my_navigation .item_line .btn_item .num{
    font-size: 42px;
    color: #666666;
    margin-bottom: 20px;
}
.my_navigation .item_line .btn_item .my_gift{
    position: relative;
    /* width: 35px; */
    line-height: 20px;
    height: 28px;
    left: 75%;
    bottom: 130%;
}
.my_navigation .item_line .btn_item .my_coupons{
    position: relative;
    /* width: 35px; */
    line-height: 20px;
    height: 28px;
    left: 85%;
    bottom: 130%;
}
.my_navigation .item_line .btn_item .my_active{
    position: relative;
    /* width: 35px; */
    line-height: 20px;
    height: 28px;
    left: 75%;
    bottom: 130%;
}
.my_navigation .item_line .btn_item .num_line{
    position: absolute;
    /* left: 53px; */
    /* bottom: 93px; */
    /* width: 35px; */
    height: 26px;
    line-height: 20px;
    color: #fff;
    font-family: FZLTZCHK;
    padding: 2.5px 5px;
    font-size: 20px;
    text-align: center;
    background: #d84547;
    border-radius: 8px;
}
.my_navigation .item_line .btn_item .title{
    font-size: 24px;
    font-family: FZLTZHUNHK;
    color: #666666;
}
.my_navigation .item_line .btn_item img{
    width: 72px;
    height: 72px;
    margin-bottom: 20px;
}
/*我的礼品相关 e*/

/*邀请好友 s*/
.invitation{
    height: 115px;
    display: flex;
    display: -webkit-flex;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    background: #fff;
    border-radius: 10px;
    justify-content: space-between;
    -webkit-justify-content: space-between;
    align-items: center;
    -webkit-align-items: center;
}
.invitation .invite_text{
    color: #737373;
    font-size: 24px;
    margin-left: 46px;
}
.invitation .know{
    height: 40px;
    width: 120px;
    color: #f6f5f5;
    background: #d84547;
    font-size: 18px;
    margin-right: 27px;
    padding: 9px 19px;
    text-align: center;
    border-radius: 19px;
}
/*邀请好友 e*/

/*我的等级权益 s*/
.my_lev_rights{
    /*width: 100%;*/
    background: #fff;
    color: #333;
    font-size: 24px;
    border-radius: 30px;
    margin-left: 20px;
    margin-right: 20px;
    padding-bottom: 34px;
}
.my_lev_rights .title_line{
    margin-bottom: 70px;
    font-size: 36px;
    text-align: center;
    border-bottom: 1px solid #dadada;
    color: #666666;
    padding-bottom: 30px;
    padding-top: 30px;
}
.my_lev_rights .right_box{
    width: 100%;
    display: flex;
    display: -webkit-box;
    display: -webkit-flex;
    justify-content: flex-start;
    -webkit-justify-content: flex-start;
    align-items: center;
    -webkit-align-items: center;
    margin-bottom: 46px;
}
.my_lev_rights .right_box .rights_item{
    flex: 1;
    -webkit-flex: 1;
    display: flex;
    display: -webkit-box;
    display: -webkit-flex;
    justify-content: flex-start;
    -webkit-justify-content: flex-start;
    align-items: center;
    -webkit-align-items: center;
    flex-direction: column;
    -webkit-flex-direction: column;
    border-right: 1px solid #fbfbfb;
}
.my_lev_rights .right_box .rights_item a{
    display: flex;
    display: -webkit-box;
    display: -webkit-flex;
    justify-content: space-between;
    -webkit-justify-content: space-between;
    align-items: center;
    -webkit-align-items: center;
    flex-direction: column;
    -webkit-flex-direction: column;
}
.my_lev_rights .right_box .rights_item img{
    margin-bottom: 11px;
    width: 126px;
    height: 126px;
}
.my_lev_rights .more_lev{
    height: 40px;
    width: 148px;
    font-size: 17px;
    color: #de5353;
    align-items: center;
    border: 1px solid #de5353;
    border-radius: 22px;
    padding: 9px 22px;
    margin-left: 40%;
}
/*我的等级权益 e*/

/*我的二维码 s*/
.qrcode_mask{
    display: none;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.5);
    z-index: 999;
}
.qrcode_mask .qrcode_box{
    margin:0 auto;
    width: 72%;
    margin-top:25%;
    background: #fff;
    border-radius: 15px;
}
.qrcode_mask .qrcode_box .title{
    width: 100%;
    background: url("/default/Index/img/bg_tittle.png") no-repeat;
    background-size: 100% 100%;
    height:138px ;
    font-size: 32px;
    color: #fff;
    line-height: 138px;
    padding-left: 30px;
    letter-spacing: 2px;
}
.qrcode_mask .qrcode_box .qrcode_container{
    width: 100%;
    background: #fff;
    padding: 50px;
    border-radius: 0 0 15px 15px;
}
.qrcode_mask .qrcode_box .qrcode_container .img_box{
    width: 340px;
    padding: 25px;
    margin: 0 auto;
    border-radius: 20px;
    border: 1px solid #999;
    background: url("/default/member/img/personCenter/icon-dialog-bg.png") no-repeat;
    background-size: 100% 100%;
    margin-bottom: 20px;
}
.qrcode_mask .qrcode_box .qrcode_container .img_box img{
    width: 290px;
    height: 290px;
}
.qrcode_mask .qrcode_box .qrcode_container .code_num,.qrcode_mask .qrcode_box .qrcode_container .tips{
    width: 100%;
    text-align: center;
    font-size: 24px;
    color: #333;
    margin-bottom: 15px;
}
.qrcode_mask .close_btn{
    color: #fff;
    font-size: 38px;
    text-align: center;
    margin-top: 40px;
    line-height: 50px;
}
.qrcode_mask .close_btn span{
    display: inline-block;
    width: 50px;
    height: 50px;
}
.no_more{
    font-size: 24px;
    color: #d4d3d3;
    margin-bottom: 50px;
    text-align: center;
}
/*我的二维码 e*/
/*底部导航 s*/
.footer_navigator{
    justify-content: space-between !important;
    -webkit-justify-content: space-between !important;
}
/*底部导航 e*/